[2018-07-20 01:41] isaachier commented on #497
Not a huge deal for my use case. Closing.

[2018-07-20 01:41] #497 closed

[2018-07-20 11:02] bygui86 commented on #334
@jpkrohling here is my repo with the example described in my previous comment:
https://github.com/bygui86/spring-cloud-stream-kafka-jaeger

Under the folder logs you can find the specific exception and the logs of the services.
Under the folder screenshots you can find how jaeger looks like during a test.

Actually the exception is the same of @quaff , I'm not using uber libraries like @yurishkuro

[2018-07-20 11:04] bygui86 commented on #363
@pavolloffay please have a look on the issue #334
I posted a sample-repo to reproduce the issue.
https://github.com/bygui86/spring-cloud-stream-kafka-jaeger

I hope this can help :)
I will continue my tests to find out something more ;)

[2018-07-20 11:41] pavolloffay commented on #363
This looks like a duplicate of #334. I will resolve it.

[2018-07-20 11:41] #363 closed

[2018-07-20 13:51] mdvorak commented on #494
@jpkrohling Question was whether classes, that are bundled (shadowed), should be used from another library. But when I consider how it works, it is not a good idea.

For zipkin, I'm opening another issue.

[2018-07-20 14:06] mdvorak opened #499 "jaeger-zipkin does not bundle libthrift and uses non-shadowed jaeger-thrift library"
This is followup to #494.

As title states, `jaeger-zipkin` has different build strategy than `jaeger-thrift`, and actually it might be also broken.
jaeger-thrift shadows private dependencies into internal package to avoid classpath clashes. jaeger-zipkin does not.

This comment states problem with dependency tree - of course it does not work with shadowed library, since jaeger-thrift relocates ge

[2018-07-20 15:12] jpkrohling commented on #499
I had the same thought last week (IIRC) and tested it with a brand new application:
https://github.com/jpkrohling/vertx-jaeger-tracer-zipkin-reporter

I'm not claiming it's not broken, but it does work on my tester project.

I'm not a big fan of this solution. If we do indeed have a problem, I'd like to explore other solutions before we just move Zipkin classes into the Thrift module, especially b

[2018-07-22 23:17] isaachier opened #501 "Move SamplingStatus out of internal package"
## Requirement - what kind of business use case are you trying to solve?

Implementing a custom sampler.

## Problem - what in Jaeger blocks you from solving the requirement?

Implementing a sampler (`io.jaegertracing.spi.Sampler`) requires overriding the `sample` method. However, the return type of `SamplingStatus` is an internal class. Furthermore, the constructor for `SamplingStatus` is package

[2018-07-23 08:00] mdvorak commented on #499
I agree with your point of view, but nevertheless, I don't see easy way to achieve that.
Can't be thrift generator tweaked to output `com.twitter` classes into some subpackage directly? So it doesn't have to be relocated?
Another option is not to relocate those, but I don't like it. Its not your package.

[2018-07-23 08:17] mdvorak opened #503 "JaegerTracer and other core classes should not be in internal package"
I don't agree with latest project restructuring - while its great classes no longer share name with their parents, I don't believe `JaegerTracer`, `JaegerSpan` etc should be in package `io.jaegertracing.internal`. It forces any user of the library to use "internal" classes for completely valid use-cases.
The only really "public" class `io.jaegertracing.Configuration` does not provide api to proper

[2018-07-23 08:51] jpkrohling commented on #503
Previously, everything was part of the public API. We then decided to make everything internal and wait for feedback (such as yours!) before making things public again.

Specifically to the reporters, I remember @yurishkuro mentioning that concrete reporters/samplers would be decided based on the configuration used. For instance, if a JAEGER_COLLECTOR_ENDPOINT env var is provided, then the `Remote

[2018-07-23 08:59] jpkrohling commented on #499
Unless this library is broken, I wouldn't change it.

[2018-07-23 09:13] mdvorak commented on #499
This is dependency tree of project with just `jaeger-zipkin` library:

[code]

Notice the `io.jaegertracing:jaeger-thrift:jar:no-shadow:0.30.2:compile` dependency, it is duplicated to `io.jaegertracing:jaeger-thrift:jar:0.30.2:compile`.
Which is problem - while it contains classes `com.twitter.*` expected by zipkin part, it also contains all classes in `io.jaegertracing`, which are duplicated to s

[2018-07-23 11:01] bygui86 commented on #334
@pavolloffay After some tests I found a workaround to let everything work without any Exception on concurrency. I added just the following line in my application.properties:
**opentracing.spring.cloud.log.enabled = false**

I know that this is just a workaround, but meanwhile you guys are fixing the issue, we can continue working on the project using the same technologies.

Everything is committed

[2018-07-23 13:16] #494 closed

[2018-07-24 09:34] quaff commented on #325
Confirmed, some dns server will hijack unknown hosts.

[2018-07-27 01:59] quaff opened #506 "Allow override service with tag"
see Tags.SERVICE
https://github.com/opentracing/opentracing-java/blob/master/opentracing-api/src/main/java/io/opentracing/tag/Tags.java#L48

[2018-07-27 04:09] yurishkuro commented on #506
We have agreed that this can be done on the backend.

https://github.com/jaegertracing/jaeger/issues/936

[2018-07-27 04:09] #506 closed

[2018-08-02 19:25] yurishkuro opened #508 "Make tracer & span constructors protected"
We're trying to migrate away from the legacy client with `com.uber.jaeger` classes, but there is a lot of code internally that still refers to those, and it would be a lot simpler if we could subclass tracer and span, which requires (a) making constructors protected, and (b) potentially minor refactoring to move calls to constructors into virtual functions that can be overridden.

cc @isaachier

[2018-08-06 16:31] isaachier commented on #508
I'm wondering if we can just force people to refactor when they upgrade. If we make this internal client a breaking change, it would be easier to just override the config for internal use cases and allow people to use an IDE to fix Jaeger compatibility. Otherwise, not sure there is any impetus for them to ever migrate to new API.

[2018-08-06 16:50] yurishkuro commented on #508
You can hardly force people to do anything. Increasing friction of the upgrade will only lead to people not upgrading. For example, if they have `com.uber.jaeger.Tracer tracer = config.build()`, it is a lot easier if we simply keep returning this class (even if its API is slightly different). There might be breaking changes to some people, e.g. if they are calling getTraceId() on JaegerSpanContext

[2018-08-06 16:55] isaachier commented on #508
OK I get that, but then what is the argument for them to stop using `TracingUtils` when they clearly use it all over the place? Won't they have the same reaction?

[2018-08-06 17:00] yurishkuro commented on #508
We can deprecated that API. It already has issues with being dependent on GlobalTracer, which forces people to make a Set() call at the beginning.

[2018-08-06 17:02] isaachier commented on #508
Right I guess I see that. In general, I guess it is a balance of what you can do before you aggravate people so much that they are unwilling to upgrade.

[2018-08-07 12:43] pavolloffay commented on #25
Shouldn't we offer the same features across clients? I hit the same issue today.

[2018-08-08 18:59] isaachier opened #511 "Drop Java 6 Compatibility"
## Requirement - what kind of business use case are you trying to solve?

Allow use of Java 8 and above in client. This would simplify some of the code.

## Problem - what in Jaeger blocks you from solving the requirement?

For some reason, we preserve Java 6 compatibility in the client. @felixbarny for why this was added last year when Java 6 is basically deprecated/ancient technology.

## Propos

[2018-08-08 19:05] black-adder commented on #511
`This would simplify some of the code` - can you quantify? As an infra platform, we should support as many versions as possible.

[2018-08-08 19:28] jpkrohling commented on #511
Java 6 is EOL for *years* now. I vote for dropping 1.6 support.

IMO, it's only a real problem if we introduce breaking changes in the agent/collector that would require a bump on client versions. Otherwise, people stuck with 1.6 can just keep using an old client version (just like they keep using their old Java version).

[2018-08-08 19:35] black-adder commented on #511
Ok, according to [this](https://plumbr.io/blog/java/java-version-and-vendor-data-analyzed-2017-edition), java 6 does seem to be on the way out so I can see us dropping it, although I'd like a really good reason for doing so.

Does this mean people using java 7 will be out of luck?

[2018-08-08 19:36] vprithvi commented on #511
Another alternative is evaluating a library like [retrolambda](https://github.com/orfjackal/retrolambda), which backports lambdas to Java 6.

[2018-08-08 19:53] isaachier commented on #511
Sure @black-adder:

- Lets us remove [Java6CompatibleThreadLocalRandom] (https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/src/main/java/io/jaegertracing/internal/utils/Java6CompatibleThreadLocalRandom.java)
- Java 7 allows use of diamond operators so we don't have to write out `Collections.<String, String>emptyMap()` every time we need a new baggage map. Instead, we can

[2018-08-08 20:05] black-adder commented on #511
ok sure, but it'd have to be a breaking change to prevent users of java 6 accidentally pulling a non-compatible client version.

I like prithvi's idea and would like to explore it.

[2018-08-08 20:07] isaachier commented on #511
The real question is why we added this in the first place. IDK exactly how you quantify a breaking change for a language we never really claimed to support. @felixbarny added this support in #132 (original issue #129). That's why I'd like to see if he still needs this.

[2018-08-08 20:12] black-adder commented on #511
The fact that we landed the change means we support it. We have to deal with it now and I'd prefer not do a breaking change.

[2018-08-08 20:15] isaachier commented on #511
Ya I get it. Bottom line: we should get rid of it in the next breaking release.

[2018-08-08 20:18] black-adder commented on #511
I added this to this week's Jaeger biweekly meeting agenda, should be some riveting stuff.

[2018-08-09 03:18] 15168326318 opened #512 "spring boot中，如何使用的，没例子说明吗 ？"
## Requirement - what kind of business use case are you trying to solve?

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open questions to address

[2018-08-09 04:27] yurishkuro commented on #512
please refer to https://github.com/opentracing-contrib/java-spring-cloud

also, please ask questions in English

[2018-08-09 04:27] #512 closed

[2018-08-09 05:11] felixbarny commented on #511
I’m not affiliated with stagemonitor anymore. @liebhaeuer do you still require Java 6 compatibly for Jaeger/stagemonitor?

[2018-08-09 05:16] isaachier commented on #511
Thanks @felixbarny for following up.

[2018-08-09 14:45] pavolloffay commented on #508
The subclass will reference symbols from the parent e.g. If you subclass `TracerBuilder` it will require `io.jaegertracing` objects.

I would be interested to see a PR in https://github.com/jaegertracing/legacy-client-java using snapshot of  #509 before merging it.

[2018-08-09 14:52] yurishkuro commented on #511
To my memory, stagemonitor was indeed the only project that requested support for 6 in both OpenTracing and Jaeger. This may have been two years ago, when 6 might have been slightly more likely to be found in production than today. I agree that we could move on, but only to 7 as min, as 7 is still quite wildly used. However, I don't think 7 gives us any significant advantages.

[2018-08-09 15:37] isaachier commented on #511
At least it gives diamond operators (always thought that was Java 8). Anyway, stagemonitor claims to support Java 6 even today, so I agree it is probably a breaking change. Practically, it isn't a huge deal, just a matter of preference and why not if we can. I realize we can't until the next major version is released.

[2018-08-09 15:55] isaachier commented on #508
Ya you definitely do add a dependency on `io.jaegertracing`. The plan isn't to merge this into the legacy client because it would not change anything. Instead, we would release a new version of the legacy client (at least internally at Uber) that would subclass certain key classes, but otherwise be empty. The users would not have to do anything other than upgrade to the latest legacy client. The d

[2018-08-09 16:11] pavolloffay commented on #508
Adding a dependency to `io.jaegertracing` is obvious I am talking about something a little bit different...

But I am not sure if subclassing `io.jaegertacing` in legacy client is enough. The subclass still references symbols from `io.jaegertracing` which causes breaking change anyways.  I would like to see a PR to legacy client showing  #509 allows you to do it.

It could be helpful also in the c

[2018-08-09 16:28] isaachier commented on #508
Sure I can try using a snapshot with #509 before merging, and I'll publish PR to legacy client.

[2018-08-13 19:19] yurishkuro commented on #511
As a general comment, I am -1 on this being a "requirement". Simplifying the client code (actually more like "pretty-fying") shouldn't come ahead of backwards compatibility and be the reason to break use apps.

According to [Won's link][1], Java 7 is still running quite strong, so we cannot abandon it. And if we're not going to 8+, then going to 7+ does not seem to provide us with a lot of benefit

[2018-08-13 19:34] isaachier commented on #511
I'm not opposed to maintaining an older version if the only sacrifice is complexity. However, more often than not, what ends up happening is that the entire ecosystem moves away from that support. We end up not being able to rely on libraries that drop support. The support can also come at the expense of performance penalties. I think Java 7 is a good compromise.

In Friday's meeting @jpkrohling a

[2018-08-13 20:26] yurishkuro commented on #511
So let's compare:
- pros: we can type a few characters less in the code
- cons: 30% of potential users cannot use our software (data as of 2017, but it's certainly not 0% today)

[2018-08-13 20:27] yurishkuro commented on #511
for example?

[2018-08-13 20:30] yurishkuro commented on #511
btw, regarding things discussed on the call - the highlights from the discussion should be documented, but given how few interested parties are usually present on the call the final decisions should be made publicly on the github issues, either via consensus or majority vote.

[2018-08-13 20:31] isaachier commented on #511
My main counterargument to these Java 6/7 support debates is where do we draw the line? I'm fine if the answer is consistent. For example, why don't we support Java 5, or 4, or even 1? Someone out there is using it!

Java 7 is a reasonable lower bound from my point of view. I just agree with @jpkrohling. Fundamentally, it is easier to ask for forgiveness than permission (as we all know from Python

[2018-08-13 20:31] isaachier commented on #511
And yes, next time we ought to document it.

[2018-08-13 20:32] isaachier commented on #511
Last comment for now, in terms of libraries, I don't see any issues yet. Luckily, gRPC still supports even Java 6.

[2018-08-14 08:15] jpkrohling commented on #511
To recap my arguments from the meeting (and earlier in this thread) and better document them:

1. To me, the main point is agreeing on a policy. Both Java 6 and 7 are EOL for years now (like 5, 4, ...). Except for a couple of vendors charging very high sums, nobody has a supported Java 6/7 JVM, meaning that people running them are running non-secure and non-patched software. In the past, library v

[2018-08-14 16:10] yurishkuro commented on #511
Louis-Étienne (@ledor473) - you work for Ticketmaster, correct? This isn't a vendor charging high sums, it's an end user. And I am sure there is plenty of enterprise software out there that is not yet running on Java 8.

Basically, my point is that if we go to Java 8+, we cut off some (unknown, but still sizable) user base. If we only go to Java 7, it doesn't give us a lot of benefits over Java 6,

[2018-08-14 16:31] isaachier commented on #511
Actually I like @jpkrohling's idea of using Java 8 for build purposes, but not any of the 7+ features until enough time has passed to guarantee that the vast majority of potential users have already upgraded unharmed.

[2018-08-14 16:32] isaachier commented on #511
Also, still would love to hear response to this:

[2018-08-14 16:43] jpkrohling commented on #511
Until when are we going to support Java 6/7?

[2018-08-14 18:38] yurishkuro commented on #511
Maybe this is a reasonable deadline for us to set as well for dropping Java 6. Still don't know about Java 7.

[2018-08-14 18:57] ledor473 commented on #511
Maybe Java 7 could be dropped at the same time if an "end to end testing" is done (in a separate CI project maybe?) to ensure a minimal compatibility with recent Agent/Collector?

[2018-08-15 00:43] adriancole commented on #511
this isn't completely correct. The default source level is 7, but the core
library is 6 and we don't use levels higher than the library being
instrumented.
https://github.com/openzipkin/brave/blob/master/instrumentation/dubbo-rpc/pom.xml#L14

If we do... it is by accident and sometimes people tell us

[2018-08-15 07:26] jpkrohling commented on #511
@yurishkuro wrote:

I meant that there are only a couple of vendors providing support for the JVM. If @ledor473's company isn't paying one of those vendors, then they are running a non-supported JVM, potentially with non-patched security vulnerabilities.

@ledor473 wrote:

That's one of the vendors that I mentioned before charging high sums of money to offer commercial support :-) I might be wrong

[2018-08-15 15:46] isaachier opened #515 "Consider google-java-format for auto-formatting diffs"
## Requirement - what kind of business use case are you trying to solve?

Formatting code is tedious and time-consuming. It leads to unnecessary debate in pull requests. I know Google's formatter is opinionated and ultimately not a good choice for this project.

## Problem - what in Jaeger blocks you from solving the requirement?

No automatic formatting tool is used to standardize the style acros

[2018-08-15 16:47] yurishkuro commented on #515
I am not clear on the objective here.

This is exactly what we want from the formatter - to be opinionated and definitive, just like `go fmt`, so that we don't have any formatting debates.

The problem I do see is that we don't seem to actually apply the formatting automatically, hence your other PR keeps getting formatting changes in the unrelated code. I am 100% in favor of the strictest rules f

[2018-08-15 16:55] isaachier commented on #515
Here is an example where you did not agree with the Google style algorithm: https://github.com/jaegertracing/jaeger-client-java/pull/509#discussion_r210028597. The Google tool cannot be configured to use that style. clang-format allows you to configure penalty values, style choices, etc. to be consistent and "pretty" at the same time.

[2018-08-15 17:08] yurishkuro commented on #515
My comment was just a question. If that's how auto-formatter does it, it is acceptable. I don't want to be in the business of configuring the formatter with something specific to our project alone.

[2018-08-15 17:09] isaachier commented on #515
Wtvr I want to give it a shot on my own, but I understand your point. I find Google tooling to be incredibly opinionated, which is probably perfect internally at Google, but doesn't work well in open source.

[2018-08-15 17:34] yurishkuro commented on #511
I rather like Zipkin Brave's policy: support whichever minimal version is allowed by the frameworks that Brave instruments explicitly (with 1.6 as the lower bound). And from this PR https://github.com/openzipkin/brave/pull/757 there are a lot of popular frameworks that still support 1.6.

[2018-08-15 17:39] isaachier commented on #515
If you are okay with the Google formatter, we can just apply the style everywhere after landing this batch of PRs. This should be accompanied by an auto-formatting enforcer to guarantee all future changes are formatted properly. Then this whole thing will no longer be an issue.

[2018-08-15 17:46] isaachier commented on #515
For the record, in C/C++, clang-format is the de-facto formatting tool. In fact, I am almost certain the Google plugin is a knock-off, which is why the naming (clang-format vs. google-java-format) and scripts (`clang-format-diff.py` vs. `google-java-format-diff.py`) are so similar. I haven't hand-formatted a C/C++ file in ages, and jaeger-client-cpp never has any formatting issues unless a PR trie

[2018-08-16 15:25] jpkrohling opened #516 "Minimize third-party dependencies"
See https://github.com/opentracing/opentracing-java/issues/296#issuecomment-413076120
Related: https://github.com/opentracing/opentracing-java/issues/300
Related: #84

This library depends on some third-party libraries, which might reduce the places where Jaeger would run. Ideally, we would ship only with that is absolutely required.

This task might be done as a standalone task, as part of the Pe

[2018-08-17 15:18] isaachier opened #518 "Move internal method contextFromString out of JaegerSpanContext"
## Requirement - what kind of business use case are you trying to solve?

Currently, the internal `contextFromString` method resides in the `JaegerSpanContext` class. It produces a `JaegerSpanContext` instance from a string that conforms with the `TextMapCodec`. Arguably, this is not an ideal location for it to reside.

## Problem - what in Jaeger blocks you from solving the requirement?

In the f

[2018-08-17 17:16] #518 closed

[2018-08-20 06:24] dbuchhorn opened #520 "getTracer() fails because SenderFactory and ThriftSenderFactory are loaded from different ClassLoaders"
In our project we have an ear which contains multiple jars and a seperated web service war. Both are deployed in a WildFly 13.
In the ear there is a api.jar which contains interfaces and other classes which should be visible for other deployments and a core.jar with implementations of the api.jar.
Through pom dependencies and jboss-deployment-structure.xml the war can use the classes from api.jar.

[2018-08-20 06:55] jpkrohling commented on #520
Can you share your `jboss-deployment-structure.xml` and possibly your `META-INF/MANIFEST`? You might need to declare that services must be imported.

+1, would you like to send a PR?

[2018-08-20 07:12] jpkrohling commented on #520
By the way: I got a PR merged last week adding transparent Jaeger and OT support for WildFly. It'll be available from WF 14 Beta2 and on and I'm really interested in getting feedback about it.

https://github.com/wildfly/wildfly/blob/master/docs/src/main/asciidoc/_admin-guide/subsystem-configuration/MicroProfile_OpenTracing_SmallRye.adoc

[2018-08-20 07:49] jpkrohling opened #521 "Rename `JAEGER_SAMPLER_MANAGER_HOST_PORT` to ` JAEGER_CONFIG_MGR_HOST_PORT`"
Same as https://github.com/jaegertracing/jaeger-client-go/issues/282, but for the Java client.

[2018-08-20 08:48] dbuchhorn commented on #520
We already declared the import of the services and through debugging I managed to see that META-INF/io.jaegertracing.spi.SenderFactory from jaeger-thrift is found and the class name io.jaegertracing.thrift.internal.senders.ThriftSenderFactory is read, but the problem is the class loader this class is then loaded with.
All jaeger libraries are in the lib directory of the ear file.

What stands PR f

[2018-08-20 09:43] jpkrohling commented on #520
Looks like you nailed it.

PR stands for pull request :) If you want to contribute with a fix, let me know and I can guide you.

[2018-08-20 11:30] dbuchhorn commented on #520
PR created.

[2018-08-20 12:45] sergeyklay opened #524 "Exceptions on JaegerTracer::inject/extract"
Hello,

I have a principal question that started in https://github.com/opentracing/opentracing-php/pull/81.

As I can see here:
https://github.com/jaegertracing/jaeger-client-java/blob/b6a824d0f6e54f246a1c5583e45536a1143c4c30/jaeger-core/src/main/java/io/jaegertracing/spi/Extractor.java#L33-L50

and here:

https://github.com/jaegertracing/jaeger-client-java/blob/b6a824d0f6e54f246a1c5583e45536a1143

[2018-08-20 14:39] yurishkuro commented on #524
To clarify, the "no exception" policy applies to runtime during the normal app flow, i.e. a tracer should not throw exceptions on, say, malformed HTTP headers carrying bad tracing context.

However, the exception you pointed out is of structural (almost configuration) nature - the instrumentation code is sending a format the tracer does not understand. Format is not something that changes at runti

[2018-08-21 05:06] sergeyklay commented on #524
@yurishkuro What do you think about updating the documentation in such a way as to reflect this idea? I mean "all exceptions" here is not all actually.

[2018-08-21 08:12] #520 closed

[2018-08-21 15:16] yurishkuro commented on #524
Please propose a PR.

[2018-08-23 08:26] jpkrohling opened #532 "Use clear messages about non-standard usage of the sender factory"
See https://github.com/jaegertracing/jaeger-client-java/pull/531#discussion_r212220915

[2018-08-23 16:01] jpkrohling opened #536 "Move to bintray"
## Problem - what in Jaeger blocks you from solving the requirement?

I've been doing the releases for some time now and it's always a pain... Not only because of the automation aspects (#58), but because it takes a really long time to upload the artifacts to Sonatype.
Examples from today:

[code]

The last two runs got stuck on `jaeger-zipkin` alone for more than 5 minutes, even though these arti

[2018-08-23 16:04] jpkrohling commented on #536
Or ShipKit, mentioned by @vprithvi on #58

[2018-08-28 12:57] fredoche opened #537 "Spurious logs in my app"
Hi,

I'm just getting started using jaeger on my java app. I noticed that under load, I sometimes have this log appearing:

[code]

I'm using `io.jaegertracing:jaeger-core:jar:0.27.0:compile` through io.opentracing.contrib:opentracing-`spring-cloud-starter-jaeger:jar:0.1.13:compile`

I don't really know what triggers this issue, I just thought you might be interested by it.

Cheers.

[2018-08-28 13:12] jpkrohling commented on #537
Looks like #363 and #334 are back

cc @pavolloffay

[2018-08-28 13:26] pavolloffay commented on #537
Yes this should have been fixed. Please reopen if the issue is still there in jaeger-core >= `0.30.3`

[2018-08-28 13:26] #537 closed

[2018-08-29 02:12] yurishkuro commented on #536
@jpkrohling how were you doing releases recently? I followed the procedure in the doc, but the [Travis job][1] keeps failing.

If you were doing them manually, do you mind doing it for 0.31?  My PK expired, I need to re-register with the key servers, but didn't have time.

[1]: https://travis-ci.org/jaegertracing/jaeger-client-java/jobs/421783949

[2018-08-29 07:38] jpkrohling commented on #536
Done!

[2018-08-29 14:00] fredoche commented on #537
Hi, thanks for the quick reply.
However I can't find the 0.2.1 version of the starter mentionned earlier.
Published artifacts go up to 0.1.13 which is the version I'm using.

https://search.maven.org/search?q=g:io.opentracing.contrib%20AND%20a:opentracing-spring-cloud-starter-jaeger&core=gav

I see a 0.2.0 tag in the sources with an associated version in pom (0.1.17-SNAPSHOT). Maybe there's been a

[2018-08-29 14:17] yurishkuro commented on #536
Thanks!

[2018-08-29 14:32] vprithvi commented on #536
I second trying out Bintray, ShipKit supports Bintray by default, and configuration seems straightforward

[2018-08-29 15:50] objectiser commented on #537
@fredoche The artifact id has changed: https://repo1.maven.org/maven2/io/opentracing/contrib/opentracing-spring-jaeger-starter/0.2.1/

[2018-08-30 14:43] yurishkuro opened #541 "Header `jaeger-baggage` causes trace to be unsampled"
Introduced by #525

[2018-09-03 08:03] ghostPM opened #543 "Jaeger client does not report baggage item"
It seems that jaeger client does not report baggage item because the thrift span does not include a baggage item field, which means that my span data storage system will loss the baggage item info.

I'm not sure if it is the problem of jaeger's design or some other reason? Thanks.

[2018-09-03 09:15] pavolloffay commented on #543
hi @ghostPM the baggage should be stored in span logs. There is no separate property for baggage as it's main purpose is to be propagated to downstream services as distributed context.

[2018-09-03 14:26] isaachier commented on #515
I think the Java support is limited in clang-format. Changing issue to be about google-java-format.

[2018-09-03 21:48] #543 closed

[2018-09-04 12:58] ackerleytng opened #544 "jaeger-client-java does not automatically flush when program exits"
## Requirement

I was trying to get the opentracing tutorial to work with the latest version of jaeger-client-java and it wasn't flushing the span to the jaeger server

## Problem

The span is not getting flushed to the jaeger server

Please see line 36/37 of
https://github.com/ackerleytng/opentracing-tutorial-debug/blob/master/java/src/main/java/lesson01/exercise/Hello.java

## Proposal

@jpkrohl

[2018-09-06 08:17] jerryldh opened #545 "conflict between withStartTimestamp and computeDurationViaNanoTicks"
if withStartTimestamp was set, then computeDurationViaNanoTicks will be set false,
so that spans’s finish time is set by default SystemClock，
finish time accuracy is set to ms.
if starttimestamp accuracy is set to μs and span duration is less than 1ms,
ecxeption occurs!
![image](https://user-images.githubusercontent.com/8142461/45144388-8798b700-b1f0-11e8-8393-6e88e0c4ab3c.png)
Actually duration i

[2018-09-06 19:37] smieras commented on #466
@jpkrohling
Wanted to pick this up as a good first issue, but the addReference method already has:
`log.warn("Expected to have a JaegerSpanContext but got " + reference.getClass().getName());`
Perhaps close the issue?

[2018-09-06 23:45] yurishkuro commented on #537
are you running the recent version of jaeger client?

[2018-09-07 08:18] jpkrohling commented on #466
Thanks! We have other good first issues, in case you are interested :-)

[2018-09-07 08:18] #466 closed

[2018-09-07 11:33] #544 closed

[2018-09-07 15:42] black-adder commented on #545
Would you be able to contribute a fix?

[2018-09-09 10:44] lw346 opened #547 "Fall back to JAEGER_AGENT_HOST for JAEGER_SAMPLER_MANAGER_HOST_PORT before localhost"
## Requirement - what kind of business use case are you trying to solve?

Making deployment in a Kubernetes environment simpler, with less configuration needing to be applied to all pods - following DRY principles.

## Problem - what in Jaeger blocks you from solving the requirement?

In the [Jaeger Kubernetes](https://github.com/jaegertracing/jaeger-kubernetes) project, the agents are deployed as

[2018-09-13 12:06] jpkrohling commented on #536
I've been reading about ShipKit and I'm about to start an experiment in a pet project. It looks like ShipKit works best in a continuous delivery mode, where every change becomes a release and versioning happens automatically, unless explicitly in a commit via a `version.properties`. I think it makes a lot of sense, especially for a library like ours.

It *also* works in a non-continuous delivery w

[2018-09-13 15:12] jpkrohling commented on #536
So, I got the plugin working locally and here are some results:

- Jaeger v0.31.1 and v0.31.2 got released to bintray (not to Maven Central yet, I'll setup the sync to central only as one of the final steps of this issue here)
- Changelog: https://github.com/jpkrohling/jaeger-client-java/blob/release/536-Move-to-bintray/CHANGELOG.md
- Look at the commits on this branch as well, especially the late

[2018-09-13 15:43] jpkrohling commented on #536
Two items that would be nice to have in Shipkit are:

https://github.com/mockito/shipkit/issues/194
https://github.com/mockito/shipkit/issues/75

I don't think they are blockers, but the second is something we'll probably forget to do quite often...

[2018-09-13 16:09] yurishkuro commented on #536
+1 for releasing only on a release tag.
-1 on fully automated changelog (but +1 to have a tool that creates a draft from commits, right now it's awfully manual, especially with all the links to PRs / users).

[2018-09-14 14:27] smieras commented on #532
I was looking into this good first issue and was wondering what the difference is between a JAEGER_SENDER_FACTORY not specified to select and a JEAGER_SENDER_FACTORY value not found as describer by @objectiser in [#531 (comment)](https://github.com/jaegertracing/jaeger-client-java/pull/531#discussion_r212220915) ?

I think the following code solves the first scenario (factory not specified to sele

[2018-09-17 07:51] jpkrohling commented on #532
The code that selects a factory is within a loop, so, when a user specifies a factory that does not exist, it will be treated as if the value hasn't been specified. When someone explicitly gives a factory name to use, we expect to find it and the user needs to get a `WARN` level message when this is not found.

[2018-09-20 19:51] gsoria commented on #516
Can I work on this issue?

[2018-09-21 08:03] jpkrohling commented on #516
It's yours! As I did have part of this task assigned to me for the next sprint, let's coordinate via Gitter. I'd be more than happy to give you the general directions.

[2018-09-22 23:58] Sharpie commented on #503
I agree with the concern @mdvorak raised: the current Configuration API is not sufficient for all usecases. Specifically, you _will always_ get a RemoteReporter and possibly an additional LoggingReporter. There is no option to configure anything different via the Configuration class even if configuration is happening in Java code that is not bound by the constraints of environment variables.

My u

[2018-09-24 03:58] gsoria commented on #516
First I created a [simple java project](https://github.com/gsoria/jaeger-client-examples/tree/master/jaeger-client-java-example) and analyzed the dependencies with:

[code]

The [output](https://github.com/gsoria/jaeger-client-examples/blob/master/jaeger-client-java-example/src/main/resources/dependencies.log) of this command was:

[code]

I wanted to compare the resolution of dependencies with an

[2018-09-24 08:07] jpkrohling commented on #516
This is really great work, @gsoria! Some of these dependencies are transitive dependencies, like `com.squareup.okio:okio:1.13.0`. If we eliminate our dependency on `com.squareup.okhttp3:okhttp:3.9.0`, the one to `okio` will go away as well.

Based on your report, it looks like we have a dependency only on the following external artifacts:
* com.squareup.okhttp3:okhttp:3.9.0
* org.apache.thrift:lib

[2018-09-24 09:38] jpkrohling commented on #84
I'm starting to scratch something around this.

@yurishkuro, @vprithvi, I know you have given some thought to it in the past, so, just wanted to see if you have anything in mind before I start. I think the problem with the sampling strategies has been solved, right? I don't see anything related to thrift around it anymore.

[2018-09-24 10:39] gsoria commented on #516
Thanks @jpkrohling,  I will be working on that!

[2018-09-24 17:09] vprithvi commented on #84
@jpkrohling The problem with sampling strategies was that thrift changed the serialization of enums from ordinals to strings or vice versa, causing problems when deserialized with older versions of thrift, I think.

Another consideration is whether this manual deserialization needs to be thrift, or whether we can use protobuf instead, relying on a a lighter weight code generator similar to https:/

[2018-09-25 09:32] jpkrohling commented on #84
Wire was discussed very briefly here: https://github.com/opentracing/opentracing-java/issues/296#issuecomment-413457408

Looks like creating a new sender module encoding it with protobuf is the way to go, then. I'm a bit outdated regarding the protobuf tasks, so, I have to ask: have we implemented this in the server already? I think @isaachier was doing something about this in the past, but not su

[2018-09-26 00:12] yurishkuro commented on #84
No work was done for receiving spans from the clients in protobuf. We need to decide on the transport. For example, I am no longer convinced that UDP is the most efficient transport if we eventually want to do tail-based sampling, a persistent connection might be more efficient. If we choose HTTP, then we need to decide if we want to go with gRPC.

[2018-09-26 03:35] isaachier commented on #84
I don't mind UDP because (at least at Uber) the agent resides on the same host as the tracing client. If anything, a pipe could solve the problem better than a network transport. But if you'd like to keep the networking, we should benchmark various transports with load to see which performs best. Preferably, we should test both the case where they reside on the same host and where they reside on s

[2018-09-27 01:20] isaachier commented on #84
That was what I would recommend.

[2018-10-08 08:50] gsoria commented on #516
I have reviewed the codebase and these are my findings:

- **com.squareup.okhttp3:okhttp:3.9.0**

The library okhttp is used in `HttpSender` class (and its test, `HttpSenderTest`).to perform a POST to send a Span.
If we want to eliminate this dependency and the transitive dependencies, we can replace the implementation of HttpSender using the JDK Standard API (java.net), for example extending the

[2018-10-08 11:56] jpkrohling commented on #516
Thanks @gsoria, I think your assessment is spot on. We could leave the decision about replacing the `okhttp` dependency to the actual internship, as we would need to measure the performance impact of such change. If we are using it only in a couple of places, we could even consider using HttpUrlConnection instead of relying on Apache HTTP Client, especially considering that we might move from thri

[2018-10-09 07:18] gsoria commented on #516
Thanks @jpkrohling I will be analyzing the alternatives related to gson.

[2018-10-09 08:06] jpkrohling commented on #340
I'm closing this, as I haven't seen this for a while... Please, reopen if this ever happens again.

[2018-10-09 08:06] #340 closed

[2018-10-09 08:07] jpkrohling commented on #211
Current place:

https://github.com/jaegertracing/jaeger-client-java/blob/6ee913a2d88c34f311d46b0b3e8928514525f62a/jaeger-core/src/main/java/io/jaegertracing/internal/reporters/RemoteReporter.java#L140

[2018-10-12 16:04] kazie opened #556 "Debug flag does not lead to sampling (reporting of spans) by itself."
## Requirement - what kind of business use case are you trying to solve?

Following the specification/documentation.

## Problem - what in Jaeger blocks you from solving the requirement?

Not creating spans as specified in the specification.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Change the code so spans are reported on debug, as that seems to b

[2018-10-12 16:57] yurishkuro commented on #556
Debug flag is not intended to be set manually, at least not without other restrictions. The only officially supported way is either setting `sampling.priority` span tag or passing `jaeger-debug-id` http header. In both cases the debug flag will be accompanies by the sampling flag simultaneously. What your code example is doing is bypassing these supported ways and hacking the flag to be "debug but

[2018-10-12 17:07] kazie commented on #556
So I guess the issue is the documentation then, as it is not clear from documentation that:

Actually means something like:

---

But thanks for your answer, it explains a lot about it. :)

[2018-10-12 18:00] yurishkuro commented on #556
Updated docs

[2018-10-12 18:00] #556 closed

[2018-10-12 18:04] kazie commented on #556
Thanks, that's much clearer :+1:

[2018-10-15 07:47] #495 closed

[2018-10-15 14:09] pavolloffay commented on #390
My last attemp to use profile id failed. I have reported the issue in the plugin https://github.com/Codearte/gradle-nexus-staging-plugin/issues/76.

[2018-10-15 16:07] pavolloffay opened #562 "Migrate from travis to circleci"
It should fix the release problem with changing public IP. https://github.com/gradle/gradle/issues/5711

See https://github.com/jaegertracing/jaeger-client-java/pull/549#issuecomment-429898974

[2018-10-15 16:09] yurishkuro commented on #562
I prefer not to move to circleci, we have almost 100% (except for c#)  of projects built on travis.

[2018-10-16 07:06] pavolloffay commented on #562
I see your point, on the other hand circleci is widely adopted in many OSS projects and the syntax si very similar to travis. If it solves the problem I don't mind migrating this repo there.

[2018-10-16 07:50] pavolloffay commented on #562
Travis builds are sometimes flaky. It might be even good to experiment with circleci if the builds are more stable.

[2018-10-16 15:28] yurishkuro commented on #562
Well, I've seen enough disparaging comments about circleci as well, don't think either solution is superior to the other.

Flaky builds can be probably improved with retries. I just rather not learn another build DSL, our travis files are already pretty complicated (although maybe not so much in the client repos).

[2018-10-17 11:20] pavolloffay commented on #390
Another solution is to do a release without any plugin like it was done in this project https://github.com/h2oai/sparkling-water/tree/master/gradle/publish and https://github.com/h2oai/sparkling-water/blob/73d2e2bd11ce35c6379f6961188fb2af1a7bc04b/build.gradle#L228.  It publishes to local folder and then publish to pre created repo.

[2018-10-19 11:45] jpkrohling commented on #511
I do not want to reopen this debate, but wanted to leave this here for reference:

https://snyk.io/blog/jvm-ecosystem-report-2018

87% is on Java 8 or more recent, 9% on Java 7, 3% are on Java 6 or lower and 1% don't know (sample size > 10,200).

[2018-10-19 11:57] pavolloffay commented on #511
Even java 11 is out (LTS support after java 8)

[2018-10-24 03:48] lff0305 opened #565 "Make the whole URL for remoteSampler / Service name configurable"
Currently the service name is hard coded, as in HttpSamplingManager.java

` jsonString =
          makeGetRequest(
              "http://" + hostPort + "/?service=" + URLEncoder.encode(serviceName, "UTF-8"));`

In my project, I found that it would be greate helpful if the whole endpoint can be configured, instead of just hostPort.

For example,

I can config it as a RESTFUL service:
**remoteURL=ht

[2018-10-26 00:06] yurishkuro commented on #565
At this time only agent exposes this configuration API, and the agent is supposed to run as a sidecar or host agent on the same host as the application.

I think there were PRs somewhere to introduce `JAEGER_CONFIG_ENDPOINT` config, iirc.

[2018-10-26 09:42] lff0305 commented on #565
Thanks, I checked the PR but the URL is still hard coded
   serverUrl + "?service=" + URLEncoder.encode(serviceName, "UTF-8"));
Another thing missed is that this PR only deals with get config from ENV, the load for springboot  / springcloud is not updated.

[2018-10-29 16:35] pavolloffay commented on #565
That is handled by a different project - https://github.com/opentracing-contrib/java-spring-jaeger

[2018-10-29 16:38] pavolloffay commented on #565
Why do you need to have the service name configured separately?  Do you want to use sampling strategies for different service name than one used to report spans?

[2018-10-29 17:09] jpkrohling commented on #516
@gsoria , please record your contribution (if you haven't done so yet) on Outreachy's website before the deadline, which is tomorrow Tuesday, October 30, 2018 4pm UTC. Thanks!

https://www.outreachy.org/december-2018-march-2019-outreachy-internships/communities/cncf-tracing/research-the-gaps-in-tracing-web-clients/contributions/

[2018-10-30 02:13] gsoria commented on #516
@jpkrohling I already did it, thank you!

[2018-10-30 03:11] lff0305 commented on #565
That's correct. I am doing a project with springcloud (serveral microservices), and I'd like to control the tracing behavior of the microservices (config-service, api-gateway, etc) separately.

Currently the service name is passed as a parameter ( ?service=....), it is fine but I have to build another web service.

If it can be configurable ( remoteURL=http://xxx.com/${serviceName} ) Then I can re

[2018-10-30 16:21] yurishkuro commented on #565
Sorry, I don't follow the use case.

jaeger agent + collector already provide the ability to control sampling per-service via configuration. Why do you need another service?

A given tracer represents a single service, so when it calls for sampling configuration it asks for sampling for that service (and you pass the name of the service to the tracer when creating it). With your suggestion you can

[2018-10-31 02:43] lff0305 commented on #565
Hi Thanks for you message.

This is mostly for enable / disable tracing for a specific micro service at runtime without restarting. And due to some firewall limit, the HTTP pulling of sampling configuration is blocked. That's why I have to build a web service internally to provide the configs.

Sorry, I did not want to ask for a different service name. All I need is to set the serviceName as part

[2018-10-31 10:35] jpkrohling commented on #565
I think this is the crucial aspect and it would make easier the life of people replacing specific parts of Jaeger with their implementations.

[2018-10-31 16:37] yurishkuro commented on #565
Fair enough, I can see the value there. But I still think we must keep the existing simpler way of pointing to the agent with just the `host:port`, since it is the default recommended architecture, and I don't want every user to have to know about the exact URL with variable substitution syntax.

[2018-10-31 16:40] yurishkuro commented on #565
Actually, I still don't see why the independent service cannot provide the same API as provided by the agent, with the same URL structure?

[2018-11-10 14:56] dougEfresh opened #566 "Update to opentracing-java 0.32.0"
I like to add support for the upcoming release of opentracing-java 0.32.
I would like to help make these changes. Can some provide guidance?

There are three files which require updating:

-  jaeger-core/src/main/java/io/jaegertracing/internal/JaegerSpan.java
-  jaeger-core/src/main/java/io/jaegertracing/internal/JaegerSpanContext.java
-  jaeger-core/src/main/java/io/jaegertracing/internal/JaegerT

[2018-11-10 16:31] yurishkuro commented on #566
Thanks for the initiative.

Why don't you create a pull request instead?

[2018-11-10 21:18] dougEfresh commented on #566
@yurishkuro
#567

[2018-11-23 20:01] hypnoce opened #569 "Expose sender factory property in configuration"
## Requirement - what kind of business use case are you trying to solve?
I want to configure the sender factory in sender configuration in case multiple SenderFactory are present in services files.

## Problem - what in Jaeger blocks you from solving the requirement?
Currently, jaeger expose resolution exclusively via system property (not even env property).
This prevents to easily configure 2 tra

[2018-12-06 17:40] yurishkuro opened #574 "Code coverage appears to be flaky"
#573 had no code changes, but came up with a decrease (-0.21%) in code coverage: https://codecov.io/gh/jaegertracing/jaeger-client-java/compare/ff929f69453cd8c5820fe649809be9700d010836...dc0c33b642169379d3e15f16d992750080473a0a

[2018-12-22 12:58] pavolloffay opened #577 "jaeger-client is missing in release 0.33.0"
The `jaeger-client` artifact has not been published in release 0.33.0 https://repo.maven.apache.org/maven2/io/jaegertracing/jaeger-client/. Maybe we have changed something in gradle conf or just the release went wrong.

If I remember correctly the release process finished successfully.

[2019-01-02 08:52] rakeshbshukla commented on #409
@hyginous29  can u share how you got it implemented?

[2019-01-02 20:34] mpetazzoni commented on #577
@pavolloffay any updates on this? We'd really like to be able to use 0.33 to benefit from the HTTPSender fix from #571.

[2019-01-03 13:59] pavolloffay commented on #577
I am looking into this, I will try to release it ass 0.33.1

[2019-01-03 14:59] pavolloffay commented on #577
0.33.1 is out, but I still do not see it in https://repo.maven.apache.org/maven2/io/jaegertracing/jaeger-client/. In jaeger-core it is present.

[2019-01-03 15:13] pavolloffay commented on #577
Awesome jaeger-client seems to be there! https://repo.maven.apache.org/maven2/io/jaegertracing/jaeger-client/0.33.1/

[2019-01-03 15:13] #577 closed

[2019-01-05 17:06] sdanzo commented on #465
@jpkrohling -- Is anyone working on this issue?  If not, I may be interested in doing the work.

[2019-01-05 23:18] yurishkuro commented on #465
afaik nobody is working on it. If you want to take a crack at it, I would recommend first posting a proposed design here.

[2019-01-18 20:53] philipzhaoTS opened #580 "Update jaeger-core to depend gson 2.8.5"
Is there a plan to update the jaeger-core to depend on gson 2.8.5. Currently, it is depending on gson 2.8.2.

[2019-01-18 20:59] vprithvi commented on #580
While we can update this, I'd like to understand more about the intent of your question.
Does the current dependency cause any problems for you?

[2019-01-18 21:01] philipzhaoTS commented on #580
Correct. Some of our codebase is using gson2.8.5 and this will lead to build conflict.

[2019-01-23 09:23] jpkrohling opened #581 "Update libthrift to 0.12.0"
## Requirement - what kind of business use case are you trying to solve?

A security vulnerability was found on 0.11 and fixed on 0.12

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Once https://github.com/ahawkins/docker-thrift/pull/18 is merged and a new Docker image is available, just bump the version in the Gradle configuration. These changes were t

[2019-01-24 16:02] jpkrohling commented on #536
I'm closing this, as I'm not sure we'll ever move to bintray.

[2019-01-24 16:02] #536 closed

[2019-01-24 16:03] jpkrohling commented on #58
I'm removing myself as the assignee, as I think @pavolloffay has worked on this lately.

[2019-01-24 16:56] yurishkuro commented on #581
do we bundle thrift as shaded dep?

[2019-01-24 17:06] jpkrohling commented on #581
We provide a shadow artifact with it:

[2019-01-25 05:28] vtdat opened #582 "Orders of span tags are not consistent."
## Order of span tags is not preserved

In our projects, we would like to put several additional tags to span. As the number of tags grows, it becomes irritating to search through tags in data storage as well as JaegerUI. Plus, orders of tags among spans are not consistent.
![](https://user-images.githubusercontent.com/14995336/51738765-834b3880-20c2-11e9-82a3-1f7af9300d3a.png)
Ref: [jaeger-ui/#21

[2019-01-25 12:37] jpkrohling commented on #582
I don't think using a LinkedHashMap in the Java Client will make a difference in the UI, given that the data goes to the Jaeger backend in a data structure that doesn't contain the order index. Given that the use-case doesn't seem to be that common, adding such an index would cause a cost on all other use-cases.

What would make sense, IMO, is to implement a "highlight" feature in the UI, where yo

[2019-01-28 04:45] vtdat commented on #582
Thanks. Got it!

[2019-01-28 04:45] #582 closed

[2019-01-28 22:03] philipzhaoTS commented on #580
Ping, is there a plan to upgrade to newer version of gson?

[2019-01-28 23:02] yurishkuro commented on #580
would you like to create a PR?

[2019-02-06 15:28] jpkrohling commented on #581
I'm currently blocked on https://github.com/ahawkins/docker-thrift/pull/16 . Do we have a reason to use the thrift compiler via Docker image? Would it be OK to just document in the CONTRIBUTING.md which version we expect people to use and provide links to download it?

[2019-02-06 15:42] yurishkuro commented on #581
Yes: repeatable builds, especially in local dev where you cannot install different versions easily.

[2019-02-06 15:50] jpkrohling commented on #581
Repeatable builds isn't really the argument, as Travis would be configured to use the same version (0.12) for all the builds, no matter if via Docker or via binary.

But I can see how developers who need different versions would find it a PITA. Let's wait a few more days then and see if a Docker image is published for 0.12. In the worst case, I'll fork it and publish 0.12 under the `jaegertracing`

[2019-02-06 18:15] yurishkuro commented on #581
Travis is not the only place where repeatable build is needed. The build env in Travis is much easier to control than in local dev setups.

[2019-02-07 18:00] supersven opened #585 "Offer manual shutdown of JaegerTracer"
## Requirement - what kind of business use case are you trying to solve?

The automatic closing mechanism introduced with #544 doesn't work well with Payara's shutdown lifecycle.

It leads to exception logs like:
[code]

## Problem - what in Jaeger blocks you from solving the requirement?

Once the shutdown hook is registered at the JVM, it's not possible to remove it.

## Proposal - what do you s

[2019-02-07 18:11] yurishkuro commented on #585
+1

[2019-02-08 09:10] jpkrohling commented on #585
Looks good to me as well, but I'm wondering if there's a way to automatically detect this case? People will be aware of this manual shutdown only when they hit the same scenario as you. They will eventually find the workaround (hopefully), but it would be awesome if we could activate it automatically *and* add a log entry with a request to manually flush/close during the application's shutdown?

[2019-02-08 12:36] supersven commented on #585
@jpkrohling This idea sounds great, but unfortunately I'm not aware of a simple way to detect if some java code is executed in an application server context or not. Any hints?

[2019-02-08 13:07] jpkrohling commented on #585
I'm really outdated regarding GlassFish and I'm sure there are better ways, but one dirty hack is to check for the presence of well-known classes.

[2019-02-08 16:23] supersven commented on #585
A colleague (@larslorenzen) suggests to query for the system property `com.sun.aas.instanceRoot`.
It should be defined for all running Glassfish/Payara instances.

Please see https://github.com/supersven/jaeger-client-java/commit/ccacb54c1f9a3fa3d196671e07f87c5ff38f9796

[2019-02-11 08:57] jpkrohling commented on #585
Sorry, I think I should have expressed myself better: I think the original idea of having a configuration switch to disable to hook is a valid one for people running into *similar* cases as you did.

In addition to that, we could be proactive in disabling the hook for scenarios where we *know* that it causes problems, like in Glassfish/Payara.

It should be defined for all running Glassfish/Payara

[2019-02-11 14:35] supersven commented on #585
`com.sun.aas.instanceRoot` seems to be Glassfish/Payara specific. I "googled" a bit around and found no usage by other application containers.

I've created a PR: https://github.com/jaegertracing/jaeger-client-java/pull/586
This combines both approaches: No shutdown hook for Glassfish/Payara and an additional flag in `JaegerTracer.Builder`.

[2019-02-12 18:40] #581 closed

[2019-02-14 08:08] supersven commented on #585
Thanks a lot for discussing, reviewing and merging!

As the PR is merged, I'll close this ticket.

[2019-02-14 08:08] #585 closed

[2019-02-20 03:50] wuyupengwoaini opened #588 "Spanid reserved extension interface to developers?"
Now ,jaeger use Utils.java to generate unique id and there is no extension interface for developers to Customize their own spanid.

I want to customize spanid  Representing hierarchical relationships,such as
1.Take Span with SpanID 1 as Root Span, indicating the starting point of a request.
2.When the order of the same level is called, the level of SpanID continues to grow, such as 1.1, 1.2, and 1

[2019-02-20 05:50] yurishkuro commented on #588
IDs in Jaeger are random sequences of bytes. Even if we have extension mechanism to plug in your own generator, we still cannot represent hierarchical strings like 1.2.3.4

[2019-02-20 07:23] wuyupengwoaini commented on #588
The reason is that the spanid type is long?

[2019-02-20 17:11] yurishkuro commented on #588
long is just internal representation, the real type is `byte[8]` for span id and `byte[16]` for trace id (which matches https://w3c.github.io/trace-context/)

[2019-02-21 06:49] wuyupengwoaini commented on #588
Thanks,I've got it

[2019-02-21 06:49] #588 closed

[2019-02-22 09:31] tutaidalal opened #589 "IS there any way to collect trace data from any remote jaeger system in java pojo?"
IS there any way to collect trace data from any remote jaeger system in java pojo?

I am trying to collect Jagger traces remotely to validate some trace data in automation module.. What is the best way to collect the trace data in java object. HTTP Get provide the data in JSON format .. is there any other way ? any simple example will help a lot

[2019-02-22 10:35] jpkrohling commented on #589
The data model is relatively simple, I don't see why you couldn't build your POJO's based on the fields from the JSON and use JAX-RS Client to make the requests to the Query component, storing the results in your POJOs, like:

https://docs.oracle.com/javaee/7/tutorial/jaxrs-client001.htm#BABBIHEJ .

Where you see `...get(String.class)`, you'd use your POJO (or a List of pojos). Once you get it wor

[2019-02-22 14:20] dignati opened #590 "Warn/Crash when RemoteReporter QueueProcessor crashes"
We are using the jaeger-client from Clojure and due to programmer error we got the following stack trace:

[code]

It would be nice if we jaegertracing could either log warnings or crash when this (or something similar) happens, instead of silently stopping to work because there is no QueueProcessor. We only caught this because we set a default UncaughExceptionHandler for all threads.

[2019-02-22 14:33] jpkrohling commented on #590
Would you be willing to send a PR with a proposal? The best place would probably be around the `QueueProcessor#run` method.

[2019-02-22 14:33] yurishkuro commented on #590
Sounds reasonable. Would you like to post a PR?

[2019-02-22 14:38] yurishkuro commented on #589
We'll also have grpc endpoint in the query service soon, then you can retrieve spans as objects generated from protobuf.

[2019-02-22 15:03] dignati commented on #590
AFAICT this change from 2016 changed changed it so that QueueProcessor only handles InterruptedException:  https://github.com/jaegertracing/jaeger-client-java/pull/19/files#diff-a214ac884be7016db64feae8ddc15ab6R161

I would propose to revert it so that we catch all Exceptions again. If you agree I can open a PR. A different approach would be to set a uncaughtExceptionHandler on the queueProcessorT

[2019-02-22 15:39] #590 closed

[2019-02-25 05:55] tutaidalal commented on #589
Thanks. I will continue using string validation.

[2019-02-25 05:57] tutaidalal commented on #589
thanks ..

[2019-02-25 13:55] veterr opened #592 "Getting builder from Configuration and calling registerInjector before constructing JaegerTracer doesn't change the injector inside the tracer"
Getting builder from Configuration and calling registerInjector before constructing JaegerTracer doesn't change the injector inside the tracer. I have task to make Jaeger use another HTTP header name, instead of "uber-trace-id". The official way to do as I understand is something like -

[code]

But this doesn't work, because when we get JaegerTracer.Builder builder = config.getTracerBuilder(); th

[2019-02-25 16:52] yurishkuro commented on #592
why are you calling `JaegerTracer tracer = config.getTracer();` ? Since you already have the Builder, you can use it to create the tracer.

[2019-02-26 11:09] veterr commented on #592
Oh yes. With `new JaegerTracer(builder)` it works too. Thank you!

[2019-02-26 17:56] stmlange opened #593 "Random java.lang.NoClassDefFoundError(s) with different classes"
## Problem - what in Jaeger blocks you from solving the requirement?
Hello,
currently using jaeger to find bottle necks in an application that launches multiple sub tasks that may or may not depend on each other (sub tasks can run in parallel). Before launching the sub-tasks a "root"-span is created. When closing this span at the end of running all tasks I randomly get a `java.lang.NoClassDefFound

[2019-02-27 09:07] jpkrohling commented on #593
It doesn't seem like you are having problems with only the classes from the Thrift module, so, I'm not that confident that #494 or #499 are relevant.

Some questions to help us diagnose the problem:

1. Are you able to provide a reproducer?
1. Do you get this when your application is under heavy load, or do you get this also when enough memory and CPU is available?
1. How's your application deploy

[2019-02-27 10:22] t-8ch opened #594 "RFC: inject/extract functionality for Configuration"
## Requirement - what kind of business use case are you trying to solve?

I have a traced system spawning processes (build systems) that are also traced. The propagation of traces works fine.
Unfortunately the configuration of the tracer has to be performed on both the scheduler and for each spawned system. As the spawned system are not directly under my control I would like not to have configure

[2019-02-27 14:30] yurishkuro commented on #594
Aren't env variables already that serialization mechanism for configuration?

[2019-02-27 14:57] t-8ch commented on #594
But only for reading. I would like to also write them.
(And at the same time it could be implemented for arbitrary `TextMaps`, allowing new usecases and making testing easier at the same time)

[2019-02-28 05:11] yurishkuro commented on #594
But you're the one who writes/defines them for the main binary, are you not? Put those settings in a file and reuse it in spawned processes. Or write a script that loops through env vars that start with `JAEGER_` and pass them to the child processes.

It feels to me like a very-very edge case that already has a number of possible solutions without introducing "config serialization" in the Jaeger c

[2019-02-28 07:59] t-8ch commented on #594
I do control the main binary. (And the smaller ones to a limited extend)
The settings in the main application are stored in an application specific format, so I can't share them as is. (Also the spawned processes may need certain adaptions to their configuration as determined by the controlling process.)

Currently `Configuration.fromEnv()` can only ever be used with environment variables and syst

[2019-02-28 14:28] stmlange commented on #593
Hi,
thank you for your feedback.
1. No, currently I'm unable to reproduce the issue reliable. The issue appears to be random.
2. The issue pops up when there is no load, as well when there is "heavy" load. It does not seem to make a difference what I ask my application do to (e.g. running a leight weight task or running a "heavy" task can trigger the "problem"). Furthermore I haven't seen any rela

[2019-02-28 15:27] jpkrohling commented on #593
Am I right to assume that you are running on a custom JVM then? Unfortunately, it's very hard to diagnose the problem with the information you provided and without a reproducer. If you can provide a PR that fixes the problem for you without causing bad side-effects to the common case, we could certainly consider merging it.

[2019-03-01 07:26] iori-yja opened #595 "HTTPS sender"
## Requirement - what kind of business use case are you trying to solve?
Posting to a collector over the internet, TLS support is desired.

Usecase: Tracing AWS lambda outside of any VPC to talk a collector in a VPC.

cf: https://github.com/jaegertracing/jaeger/issues/458

## Problem - what in Jaeger blocks you from solving the requirement?
Currently, jaeger-collector doesn't support TLS. Besides

[2019-03-01 09:15] iori-yja commented on #595
On [this README.md](https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/README.md
), there are no mention to HTTPS, but in [the source code](https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/src/main/java/io/jaegertracing/Configuration.java#L67), the endpoint example is https-schemed, even though the same note on the document is in http.

Both of t

[2019-03-01 09:51] jpkrohling commented on #595
From what I remember, this should *just work*, as long as the cert is trusted by the JVM. Setting the `JAEGER_ENDPOINT` to an HTTPS schema should be sufficient. Are you facing any specific issues?

[2019-03-01 15:02] t-8ch commented on #516
Could it be that the `httpclient` and `httpcore` libraries from Apache are not actually used (transitively) and could be excluded from the transitive dependencies of `libthrift`?

[2019-03-01 15:09] yurishkuro commented on #516
We only use thrift for encoding the payload, n95 for http

[2019-03-01 16:19] #592 closed

[2019-03-05 08:55] iori-yja commented on #595
@jpkrohling Thank you. So, probably adding additional options to pin server certificate would increase the security when using self-signed certificate (communication between server application and its backend is one of few situations which self-signed certificates are acceptable).

[2019-03-05 09:05] iori-yja commented on #595
@jpkrohling Thank you. So, probably adding additional options to pin server certificate would increase the security when using self-signed certificate (communication between server application and its backend is one of few situations which self-signed certificates are acceptable, if it verifies its identity by another mean, including pinning).

I will work for adding pinning feature, but I am not

[2019-03-05 09:08] jpkrohling commented on #595
Not sure I follow -- we have already client auth support via basic auth and bearer tokens. See the documentation for the env vars `JAEGER_AUTH_TOKEN`, `JAEGER_USER` and `JAEGER_PASSWORD`.

[2019-03-05 09:50] iori-yja commented on #595
OK, so the identification should be done on HTTP layer (like using token), not in transport layer.

[2019-03-05 10:51] jpkrohling commented on #595
Do you mean, as opposed to a client cert auth? I would have nothing against a PR adding support for client cert auth.

[2019-03-05 11:20] iori-yja commented on #595
Oh, sorry. I wasn't sure whether I should add client auth, but it seems that is negligible for now. Even though I thought I should care about client auth when I started this topic, I think they can be different topic. Concealing those authentication token and basic credentials should come first.

[2019-03-05 15:17] NikitoZZZZZ opened #598 "Context propagation from zipkin to jaeger through Kafka"
Hello everyone.
I have program that was instrumented with zipkin. This program is calling my program which is instrumented with jaeger. I am trying to propagate B3 zipkin's headers to jaeger. I used approach with **io.jaegertracing.internal.JaegerTracer.Builder#registerInjector** and **io.jaegertracing.internal.JaegerTracer.Builder#registerExtractor** methods. I am also using [kafka client instrum

[2019-03-05 18:18] carlosalberto opened #599 "Create a jar with the dependencies for easy deployment"
## Requirement: To provide a jar with all the dependencies and tracerresolver support.

The new ongoing [SpecialAgent](https://github.com/opentracing-contrib/java-specialagent) effort is designed to take a single jar that provides a `Tracer` through a `TracerFactory` - as part of this I've been putting some prototype in
https://github.com/opentracing-contrib/java-opentracing-lightstep/tree/master/

[2019-03-05 19:50] yurishkuro commented on #598
why are the screenshots from different tracing backends? Regardless of which instrumentation / propagation format you're using, I'd think you would want to see the trace in the same backend.

If the trace is getting broken, then somewhere the context is not being recognized. We can't help more than that without a reproducible code example.

I have a working example that only uses Jaeger: https://g

[2019-03-06 08:56] NikitoZZZZZ commented on #598
I need to instrument several microservice components. The entry point component, that starts all spans, is instrumented with zipkin. I'm instrumenting inferior, underlying components with jaeger. I need two things to happen:
- Entry point component should collect ALL spans that are creating under one call chain. I did this:
`tracer = new io.jaegertracing.Configuration(componentName)

[2019-03-06 14:20] yurishkuro commented on #598
even if one of the services is instrumented with Zipkin, you can still collect all spans in the Jaeger backend, because it can accept several Zipkin formats.

[2019-03-06 14:35] NikitoZZZZZ commented on #598
I followed every instruction on https://github.com/jaegertracing/jaeger-client-java/tree/master/jaeger-zipkin to do that but I still can't collect all spans in Jaeger backend and furthemore I'm getting an exception when I'm trying to send spans from jaeger to zipkin via ZipkinV2Reporter. Do you have an idea what might be the problem?

[2019-03-06 16:10] ilopmar opened #600 "NPE when running Jaeger in GraalVM with Micronaut"
I'm trying to create a Micronaut application with Jaeger support. I'm able to build the native image but the application fails with a NPE.

To reproduce the issue:

- `git clone https://github.com/ilopmar/micronaut-jaeger-graal`
- `cd micronaut-jaeger-graal`
- `git checkout workaround`
- Use latest GraalVM from master branch (it won't work with RC13)
- `./build-native-image.sh`
- `./mn-jaeger-graa

[2019-03-06 16:52] yurishkuro commented on #600
which  version of jaeger client? the line numbers don't match with master.

[2019-03-06 16:57] ilopmar commented on #600
I'm sorry. Version is `0.31.0`

[2019-03-06 17:04] yurishkuro commented on #600
in v0.31.0, `RemoteControlledSampler.java:89`, is `try {`, doesn't look right.

You may be in a better position to troubleshoot it to see which component is not configured. The other exception on `RemoteReporter.java:114` is no metric reporting, so perhaps somehow you instantiated reporter with null metrics.

[2019-03-06 17:17] ilopmar commented on #600
Thanks for you quick reply!

I've tried with `0.33.1` and the result is the same:
[code]

Can the line mismatch happen because of lombok? I'm opening directly the file in IntelliJ and there is an error message: _Library source does not match the bytecode for class RemoteControlledSampler_. I can show a diff:
![image](https://user-images.githubusercontent.com/559192/53900068-ff2e8e00-403b-11e9-859e

[2019-03-06 18:41] yurishkuro commented on #600
I doubt it is related to Graal that much, more likely to how you instantiate the tracer. In the repo you linked I did not see any code that actually instantiates Jaeger tracer.

I am not aware of lombok messing up line numbers in the original source code (that would be pretty lousy behavior).

[2019-03-07 11:38] NikitoZZZZZ commented on #598
I found what was the issue. When I started docker image of jaeger I didn't set environment variable for zipkin collector port and I didn't exposed port 9411. https://www.jaegertracing.io/docs/1.8/getting-started/#all-in-one

[2019-03-07 12:38] objectiser commented on #600
Not sure if it will help, but Red Hat have just announced a [new project ](https://quarkus.io/) that includes OpenTracing support with [Jaeger as the default tracer](https://quarkus.io/extensions/#observability), based on GraalVM.

There is a known issue using the [UdpSender](https://github.com/quarkusio/quarkus/issues/484) in native mode - however the HttpServer works. I am hoping to look into th

[2019-03-07 14:57] iori-yja commented on #595
made a PR: https://github.com/jaegertracing/jaeger-client-java/pull/602

[2019-03-07 14:58] #595 closed

[2019-03-07 16:36] yurishkuro commented on #599
I am not opposed  to this in principle, but the main question is what you consider "all the dependencies"? Jaeger client is composable, there are modules that some people may or may not need,  e.g. `jaeger-zipkin`, or if we introduce grpc reporter in the future then thrift & grpc would not be needed together.

Why is this a limitation of the special agent that only one jar can be used?

[2019-03-07 17:33] carlosalberto commented on #599
Hey @yurishkuro

Thanks for the feedback. So, "all the dependencies" in this context means the simplest complete (standard) profile that would make Jaeger run. In the "simplest" part, I'm not including the optional components (such as the zipkin connector) - oh, and if you guys accept this route, I will update the docs to reflect this, of course ;)

And also: correct, if you introduce `grpc` suppo

[2019-03-08 05:52] yurishkuro commented on #599
Is it not what jaeger-client artifact already contains?

https://github.com/jaegertracing/jaeger-client-java/tree/master/jaeger-client

[2019-03-08 05:53] yurishkuro commented on #598
🎉

[2019-03-08 05:53] #598 closed

[2019-03-08 16:28] carlosalberto commented on #599
@yurishkuro Yes, the very same - but exposed as a fat-jar that can be simply passed around - the SpecialAgent scenario is one example, but also instrumenting Cassandra on the server side (when implemented) could make use of this (as you have to copy the jars to the deployment directory).

Let me know ;)

[2019-03-08 17:00] yurishkuro commented on #599
I see. @jpkrohling I thought we already had fat jar somewhere. It feels to me that if the scope of the two artifacts is the same (i.e. jaeger-client), then slim/fat jars should be released from the same project, only tagged differently.

[2019-03-08 17:09] objectiser commented on #599
The only issue is if we want to have fat jars for both thrift and grpc - in that case it may make more sense to have separate modules.
If we only want to have a far jar for our preferred transport, so switching to grpc when available, then could be done within the same module.

[2019-03-08 18:45] yurishkuro commented on #599
Yes, we're talking about a default/recommended configuration, which is what jaeger-client provides now. It's a slim jar now with transitive dependencies. How do we publish an additional fat jar from the same module?

[2019-03-11 09:03] objectiser commented on #599
The [thrift](https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-thrift/build.gradle) module provides an example of how to create a "shadow" (i.e. fat jar) in the same module. We should also relocate the dependencies to internal packages to avoid conflicts with same dependencies (diff versions) used by client app.

[2019-03-11 23:44] carlosalberto commented on #599
Hey @yurishkuro @objectiser

I updated #601  the build script so now the fat-jar is built as part of `jaeger-client`, instead of doing it in a different module.

Observe that:
* I'm shading a few libraries (while keeping the dependency to SJ4L, as without it the fat-jar fails to load)
* I'm using the `bundle` classifier - would you guys prefer `shadow` for this fat-jar?
* I'm building this (extra)

[2019-03-13 13:50] fmhwong opened #605 "Using Traceresolver to get a Tracer"
## Requirement - what kind of business use case are you trying to solve?

Use a vendor neutral way to obtain a Tracer

## Problem - what in Jaeger blocks you from solving the requirement?

Assuming I have classpath setup, when I run
[code]
to get a JaegerTracer.  I got
[code]
JaegerTracer requires to set the environment variables prior to creating a Tracer.  If I have multiple vendor implementatio

[2019-03-13 14:42] yurishkuro commented on #605
Don't think this is a valid issue. Traceresolver already provides vendor-neutral way **for the code** to get a tracer. But someone responsible for deployment configuration must add the correct vendor jar to the classpath. The same person can provide env vars to configure said vendor jar. Configuration params are inherently vendor-specific.

[2019-03-13 21:34] fmhwong commented on #605
When using with Traceresolver, is there a way to programmatically configure the Tracer?  For example, setting the service name.  It will be nice if we can pass in the service name as a parameter to `resolveTracer()` method.
[code]

In the server that I am working with, it allows multiple Tracer objects.  Setting the `JAEGER_SERVICE_NAME` from the environment doesn't work for me.

[2019-03-13 22:56] yurishkuro commented on #605
That would be a change in the TracerResolver API, please open a ticket there. If the API changes, we can easily support it in Jaeger.

[2019-03-13 22:56] #605 closed

[2019-03-14 10:48] jpkrohling commented on #599
I remember we had all sorts of build problems with the shadow enabled by default for the client module. It would be good to get the commit history for the whole client module and see how it evolved.

[2019-03-15 18:16] tsipo commented on #231
Hi there, any update on this one? We would like to use opentracing/jaeger for various spans, which duration may vary from sub-second to many hours. The current implementation (send only of finished spans) introduces the following problems:
1. Having the span visible only once finished is not really an option for long spans.
2. Long/large spans can easily suffer from packet size (~64K for UDP agent

[2019-03-18 15:18] jpkrohling commented on #231
@tsipo would you mind describing your use case? Why do you need to keep the spans unfinished for so long? Wouldn't it be appropriate to have your long-running span to be a "follows-from" span from the originating process?

[2019-03-18 17:41] tsipo commented on #231
@jpkrohling We have a microservice mesh where the root span can be created as a result of an HTTP request (either UI or REST API call) or a scheduled job. Some of these may trigger rather lengthy, heavy computations and/or data access, some of it parallel/asynchronous and some sequential/synchronous, and may involve multithreaded processing and/or gRPC calls to other  microservices.

The `FollowsF

[2019-03-19 10:35] jpkrohling commented on #231
Thanks for the explanation, I think it does make sense to have incomplete spans persisted in your case.

[2019-03-21 09:27] ghilainm opened #606 "SenderException should be logged in debug or trace to help debugging connectivity issues"
I have recently deployed jaeger UI and I am using jaeger-client, they are no logs in the code which allows to debug connectivity issues.

The following line should be changed to add logging of exception
https://github.com/jaegertracing/jaeger-client-java/blob/bb0fa210e1578c6a53fea611181538527ead3874/jaeger-core/src/main/java/io/jaegertracing/internal/reporters/RemoteReporter.java#L106

[2019-03-21 10:09] objectiser commented on #606
The location you reference is in the close method, so the one I think you mean is https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/src/main/java/io/jaegertracing/internal/reporters/RemoteReporter.java#L178 ?

Even if trace logging, it could result in a large number of log entries. If the purpose is to debug initial (or intermittent) connectivity issues, possibly would be

[2019-03-21 15:25] jpkrohling opened #607 "JAEGER_REPORTER_MAX_QUEUE_SIZE is not the max queue size"
I'm making a tuning guide for Jaeger and, checking the code for the `JAEGER_REPORTER_MAX_QUEUE_SIZE` setting I realized that this does *not* represent the number of spans in memory to be kept before they are sent out, as the documentation makes me believe:

Rather, it's a command queue size, where each span is added to an `AppendCommand`. This command calls the `Sender#append()` method which in mo

[2019-03-21 20:04] yborovikov opened #608 "RemoteControlledSampler.sample() is a bottleneck"
## Requirement

Tracing should not be a bottleneck in multithreaded apps.

## Problem - what in Jaeger blocks you from solving the requirement?

`RemoteControlledSampler.sample()` is [synchronized](https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/src/main/java/io/jaegertracing/internal/samplers/RemoteControlledSampler.java#L140).

This is causing a major slowdown in mult

[2019-03-25 19:21] tsipo commented on #231
@jpkrohling Do you know if there's a timeline for this (and the backend related issues)? Thanks!

[2019-03-26 08:22] jpkrohling commented on #231
There's no timeline for this issue (nor for https://github.com/jaegertracing/jaeger/issues/729). If you'd be open to contributing this feature to Jaeger, let me know and I can show you how to get started.

[2019-03-28 11:35] jpkrohling commented on #608
Based on the package name, looks like you are using an older version of the client. But I expect the same to happen with the latest versions, as this hasn't changed much, if at all.

In any case: we are planning on doing some performance measurements in the next couple of months with @gsoria and would appreciate any inputs you might have.

The first step is certainly to come up with a set of JMH s

[2019-04-02 12:26] jpkrohling opened #610 "Add a MAINTAINERS/CODEOWNERS file"
See jaegertracing/jaeger#254

[2019-04-09 09:36] Elsehere opened #611 "Is there any way to get TraceId in java?"
I want to use TraceId to log record in the different service chain, but I cannot get TraceId by this client. Could you please give me some suggestions on it?

[2019-04-09 09:51] objectiser commented on #611
The recently released 0.32 version of the OpenTracing API added the ability to get the trace and span ids from the `SpanContext`. There is currently a [PR to update the Jaeger client](https://github.com/jaegertracing/jaeger-client-java/pull/567) to support this version of the OpenTracing API.

[2019-04-10 02:46] Elsehere commented on #611
@objectiser Thanks for your help, but I occurred this error, I don't know what happened when I call `tracer.activeSpan().context().toTraceId()`.
![image](https://user-images.githubusercontent.com/19883190/55847917-dd19b580-5b7d-11e9-8edc-f3ca4698989d.png)

[2019-04-11 01:42] Elsehere commented on #611
@objectiser Thanks.

[2019-04-11 01:42] #611 closed

[2019-04-11 01:43] Elsehere opened #612 "Is there any way to get traceId in logback.xml by using Jaeger not Zipkin brave?"

[2019-04-11 02:30] yurishkuro commented on #612
Here's example https://github.com/PacktPublishing/Mastering-Distributed-Tracing/blob/master/Chapter11/exercise1/lib/src/main/java/lib/MDCScopeManager.java

[2019-04-11 08:47] Elsehere commented on #612
@yurishkuro Thanks, I did it and it works well.

[2019-04-11 08:47] #612 closed

[2019-04-25 14:55] pavolloffay opened #614 "Release 0.35.0 based on OpenTracing 0.32.0"
Master now contains an upgrade to OpenTracing 0.32.0. Is there anything blocking the release or can we release?

[2019-04-25 17:41] yurishkuro commented on #614
+1  to release

[2019-04-26 08:00] pavolloffay commented on #614
@yurishkuro would you have time to look at https://github.com/jaegertracing/jaeger-client-java/pull/609? I will cut the release early next week.

[2019-04-29 08:56] pavolloffay commented on #614
I am going to cut it now

[2019-04-29 11:01] #608 closed

[2019-04-29 11:30] #614 closed

[2019-04-29 11:37] #566 closed

[2019-04-29 11:38] pavolloffay commented on #600
@objectiser is the UDP sender fixed in Quarkus?

[2019-04-29 12:12] pavolloffay commented on #390
There is a new gradle plugin https://github.com/marcphilipp/nexus-publish-plugin which explicitly creates a staging repository. We should give it a try. It will require to bump a gradle version and use maven-publish plugin instead of legacy `maven` plugin we are using right now.

I will give it a try.

[2019-04-29 13:11] objectiser commented on #600
No unfortunately - still need to look into it.

[2019-04-29 15:52] pavolloffay commented on #614
The artifact has been published https://repo.maven.apache.org/maven2/io/jaegertracing/jaeger-core/0.35.0/

[2019-04-29 18:45] Fox32 commented on #614
@pavolloffay  I just noticed that it is also required to upgrade [`java-tracerresolver`](https://github.com/jaegertracing/jaeger-client-java/blob/master/build.gradle) to version [0.1.6](https://github.com/opentracing-contrib/java-tracerresolver/releases), otherwise there is still a dependency to 0.31.0 of OpenTracing.

[2019-05-03 07:46] pavolloffay commented on #390
Migration to new publish plugin didn't fix releasing from travis: https://travis-ci.org/jaegertracing/jaeger-client-java/jobs/526098222. I had to release locally.

[2019-05-06 07:55] pavolloffay commented on #390
Fixed in #621

[2019-05-06 07:55] #390 closed

[2019-05-06 08:02] pavolloffay commented on #58
There have been some changes to the release bits we are using. Now the fully automated release from travis works well, it closes staging repositories automatically.

To do the release we just have to push a tag. The release version is taken from the tag so no need to update it manually, however after the release it stays with the same value as before the release. We could change it to something ve

[2019-05-08 10:41] krabaey opened #624 "Support of 'Defer' sampling state"
## Requirement - what kind of business use case are you trying to solve?

We would like to set http tracing headers (in our case B3 compatible headers) on a proxy, but defer the sampling decision to the actual servers it is proxying. The proxy however is not capable of doing reporting.
In this way the b3 headers could be centrally generated & injected.

Currently this does not seem not possible.

[2019-05-08 19:38] sherwoodzern opened #626 "Jaeger CDI throws ClassCastException"
## Requirement - what kind of business use case are you trying to solve?

I'm deploying to a K8S cluster that has the Istio service mesh deployed. I want to attach to the tracer from Istio.

## Problem - what in Jaeger blocks you from solving the requirement?

In my code I use CDI. I @Inject Tracer and even attempt to @Inject Span. I always receive the error: org.jboss.weld.exceptions.DeploymentEx

[2019-05-08 23:37] sherwoodzern opened #625 "ClassCastException"
## Requirement - what kind of business use case are you trying to solve?

Use openTracing and connect to the Current running tracer from the Istio Service Mesh

## Problem - what in Jaeger blocks you from solving the requirement?

Unable to get traces from the application.
2019.05.08 21:56:15 WARNING io.jaegertracing.internal.PropagationRegistry$ExceptionCatchingExtractorDecorator Thread[nioEventL

[2019-05-09 02:39] yurishkuro commented on #626
it seems a simple case of mismatch between Jaeger client and OpenTracing jar version. Latest Jaeger supports OT 0.32

[2019-05-09 02:41] yurishkuro commented on #625
duplicate of #626, try using OT 0.32

[2019-05-09 02:41] #625 closed

[2019-05-09 04:32] yurishkuro commented on #624
can you elaborate for what reason?

[2019-05-09 05:20] krabaey commented on #624
All access to our services is via a proxy (ha-proxy in this case). As part of improving observability we use the trace id to correlate all logging of all services for a particular trace. As the proxy is part of the infrastructure, we want to include the trace id in the proxy access log. Since the proxy is our first component in the chain, this one will create the trace id (if none is present).

An

[2019-05-09 13:58] yurishkuro commented on #624
I'm not opposed to it if you're interested to contribute the enhancement.

[2019-05-09 15:09] sherwoodzern commented on #626
ClassCastException resolved by using OT 0.32.0

[2019-05-09 15:09] #626 closed

[2019-05-09 15:36] sherwoodzern opened #628 "Unable to embed application traces from Istio service Mesh Trace"
## Requirement - what kind of business use case are you trying to solve?

I'm trying to connect the tracer in my application code to the Tracer that is running by the Istio service mesh. I want to see the spans that I start in the application code.

## Problem - what in Jaeger blocks you from solving the requirement?

I'm using CDI.
@Inject Tracer tracer
GlobalTracer.registerIfAbsent(tracer);

I d

[2019-05-09 18:51] pavolloffay commented on #628
hi @sherwoodzern are you using any instrumentation in your application? Or could you please provide output from `mvn dependency:tree`?

Your application has to be instrumented with OpenTracing library https://github.com/opentracing-contrib to be able to propagate tracing started by service mesh through your application.

[2019-05-09 19:20] sherwoodzern commented on #628
Here's what is in the dependency tree:
szern-mac:generalHello szern$ mvn dependency:tree
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------< com.oracle.helidon:generalHello >-------------------
[INFO] Building generalHello 1.0-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-dependency-plugin:2.9:tree (default-cli) @ gen

[2019-05-10 08:32] objectiser commented on #628
@sherwoodzern You haven't included the Jaeger java client - this means as there is no tracer available it will return the `noop` implementations.

[2019-05-10 09:52] pavolloffay commented on #628
It seems you are using  `io.helidon` and not jaeger at all. Perhaps the issue should be opened against helidon.

If you decide to use Jaeger (assumig it works with helidon) and you run into the issues please reopen the ticket.

[2019-05-10 09:52] #628 closed

[2019-05-10 13:18] #58 closed

[2019-05-10 13:39] sherwoodzern commented on #628
io.helidon has nothing to do with the tracing. io.helidon is the Oracle Java SE / MP for building microservices in Java. I've added the jaeger-client and now I'm getting the following ClassCastException.

java.lang.ClassCastException: io.opentracing.propagation.TextMapExtractAdapter cannot be cast to io.opentracing.propagation.TextMap
	at io.jaegertracing.internal.propagation.B3TextMapCodec.extrac

[2019-05-10 13:44] pavolloffay commented on #628
Well, you were using helidon Microprofile-OpenTracing implementation and
[code]

Now you are using wrong Jaeger version. You have to use one with support for OpenTracing 0.31.0 ejg jaeger-client-java 0.34.0 or earlier versions.

[2019-05-10 13:53] pavolloffay opened #629 "Automatically generate changelog"
After #58 we can release by pushing a tag to the repository. The next step is automatically to generate changelog.

I have played with https://github.com/github-changelog-generator/github-changelog-generator. It looks to work fine but the structure is different to what we have right now.

I am adding otput for this repository for the following execution
[code]

* trivial PRs can be exluded by `--e

[2019-05-10 13:54] pavolloffay commented on #629
@jaegertracing/jaeger-maintainers what do you think about this using in repositories where we don't list breaking changes?

[2019-05-10 14:42] sherwoodzern commented on #628
The name of that jar file is misleading. It has nothing to do with tracing. It just captures the b3 headers. I attempted using the 0.34.0 release and I get a ClassCastException. I've also tried versions prior to 0.34.0 and still get the ClassCastException.

May 10, 2019 9:49:07 AM io.jaegertracing.internal.PropagationRegistry$ExceptionCatchingExtractorDecorator extract
WARNING: Error when extracti

[2019-05-10 15:05] pavolloffay commented on #628
There is a mismatch on the classpath probably. Assure that OT APIs and implementations use the same version
[code]

[2019-05-10 15:18] objectiser commented on #629
Maybe we can have a convention of including `[BREAKING CHANGE]` as a prefix to PR titles?

[2019-05-10 15:25] sherwoodzern commented on #628
I explicitly specified the io.opentracing:opentracing-noop to 0.32.0. Previously, I was not specifying the noop library. Unfortunately, even explicitly specifying the 0.32.0 release made no difference. There are only 2 versions of opentracing-cdi; the 0.1.0 and the 0.0.2 release. The 0.0.2 release is 18 months old; therefore, I don't think it would be relevant.

Here's my question. Should I remove

[2019-05-10 15:50] pavolloffay commented on #629
That is the same as putting them in a separate section. I would prefer a separate section.

My concern is that we cannot add migration steps directly do the changelog as it will be overridden.

[2019-05-10 15:55] pavolloffay commented on #628
If the CDI is old then you have only one option - use OpenTracing 0.31.0 compatible version of your instrumentation libraries and jaeger client.

[2019-05-10 16:10] sherwoodzern commented on #628
I really appreciate your time on this. What do you mean if the CDI is old then you have only one option? The CDI I'm using is the most recent version that is available.  I apologize for all of the questions, but isn't CDI the recommended approach for doing this? I'm pretty sure it even mentions in the documentation to use CDI; therefore, shouldn't the most recent version of CDI be compatible? I'm

[2019-05-10 16:13] pavolloffay commented on #628
I meant CDI instrumentation - `opentracing-cdi`. Just make sure all opentracing libraries use the same API version. You are getting exceptions because there were breaking changes in the API and you have different versions on classpath.

[2019-05-10 16:35] sherwoodzern commented on #628
I'm using all of the same io.opentracing versions across all of the different artifact-ids. However, the io.opentracing-contrib all have different version numbers. There are not identical version numbers for the artifact-ids across the io.opentracing.contrib group.  Therefore, I'm not sure how one can make sure the versions are compatible.  Instead of using the io.opentracing group and artifacts s

[2019-05-13 08:15] pavolloffay commented on #628
I suggest looking at the source code or using dependency tree to get the API version.

[2019-05-15 10:33] sherwoodzern commented on #628
Correct me if I'm wrong, based upon your answer there is no one source of truth as to which versions work together. As a developer, I have to be lucky and stumble across the right combination.  Am I off base here?
Are there CDI libraries for pure Jaeger CDI? In other words, instead of using the io.opentracing interfaces I would just completely rely upon the concrete classes of Jaeger.

[2019-05-15 11:43] pavolloffay commented on #628
In maven you can use `dependency:tree` to find out what libraries and versions are on your classpath. All the opentracing libraries are open sourced, one can have a look and see what versions are using what versions.

I think a bom with all instrumentations would help, however we do not have it.

[2019-05-22 08:19] ravirajj opened #630 "RemoteBaggageRestrictionManager throws NullPointerException"
## Requirement - what kind of business use case are you trying to solve?

- Use `RemoteBaggageRestrictionManager` to retrieve baggage restrictions.

## Problem - what in Jaeger blocks you from solving the requirement?

- Received the following exception when the `RemoteBaggageRestrictionManager` attempted to [update baggage restrictions](https://github.com/jaegertracing/jaeger-client-java/blob/mas

[2019-05-22 18:39] #630 closed

[2019-05-22 18:42] yurishkuro opened #632 "Incorrect RELEASE description"
Currently, step 3 is `git tag release-0.20.0 && git push origin release-0.20.0`.

However, per earlier conversation, we recommend all maintainers to map `origin` to their own fork rather than the upstream repository, to avoid accidental creation of transient branches. E.g. this is the recommended setup:
[code]

I think in this situation the proper release instruction would be to push the tag to `u

[2019-05-28 05:38] KishoreKaushal commented on #409
@yurishkuro Since, its been one year, I would like to know the status of this issue. Is it officially supported, if not, then any future plans for this? Thank You.

[2019-05-29 04:38] epkugelmass opened #633 "withTag(Tag<T>, T) implementation violates spec"
## Requirement - what kind of business use case are you trying to solve?

jaeger-java-client should implement the specification in opentracing-java
Specifically, JaegerTracer should implement io.opentracing.Tracer according to the spec, and JaegerSpan should implement io.opentracing.Span according to the spec.

## Problem - what in Jaeger blocks you from solving the requirement?

`JaegerTracer::wi

[2019-05-29 04:39] epkugelmass commented on #633
I am happy to prepare a PR, but perhaps no earlier than late next week.

[2019-06-02 20:28] yurishkuro commented on #633
There are different issues with Tag API https://github.com/opentracing/opentracing-java/issues/340

I don't think there's actually a clear expectation that span/builder implementations must do a double-dispatch to `tag.set()`, it was certainly not how the original PR https://github.com/opentracing/opentracing-java/pull/311 implemented it for mock tracer.

[2019-06-02 20:32] yurishkuro commented on #409
There are no plans to support it. There are no clear requirements here what it even means, how the API would look like, whether the type of the ID remains int64, etc.

[2019-06-03 17:53] epkugelmass commented on #633
Thanks for the link to the underlying issues in opentracing-java.

I think the OpenTracing Java spec is quite clear.
https://github.com/opentracing/opentracing-java/blob/master/opentracing-api/src/main/java/io/opentracing/Tracer.java#L192
`/** Same as {@link AbstractTag#set(Span, T)}, but for the span being built. */`
I'm having trouble reading this as anything except requiring dispatch to the Tag

[2019-06-12 15:22] lubinson opened #635 "Spans are not connected after upgrading Java Jaeger Client"
Dear Community,

Different services spans can not be connected after upgrade below old version
[code]
to new version
[code]

Before the upgrading, everything is ok.

For example, Service A call B and C, we inject the tracing context to the HTTP header when calling Service B and C.  The sampler is ratelimiting 1. Span `Calling Service B` and `Calling Service C` are created in Service A and under th

[2019-06-12 17:04] yurishkuro commented on #635
I do not believe it's an issue with Jaeger client, but with instrumentation. Please open a ticket in https://github.com/opentracing-contrib/java-spring-web

[2019-06-12 17:04] #635 closed

[2019-06-12 17:56] lubinson commented on #635
@yurishkuro Thanks for your reminder.

[2019-07-02 23:35] doctorpangloss opened #636 "try (Scope ...) { ... } pattern ill suited for catching errors"
## Requirement - what kind of business use case are you trying to solve?

This is tracing used to diagnose issues in a complex, real-time video game server. Exception tracing is very valuable here.

## Problem

Here is actual code from a Java-based game engine server that I've begun to instrument using the most contemporary pattern.

[code]

Observe `// TODO: Log the error`. At this line of code,

[2019-07-03 01:22] yurishkuro commented on #636
a) the code you showed is the recommended usage pattern. There's no issue with Scope being closed, because the span is still not finished. Scope just controls which span is active on the stack.

b) which README are you referring to? The usage patterns are documented in opentracing-java repo, not in the Jaeger client.

[2019-07-03 03:07] doctorpangloss commented on #636
The active span is null when retrieved from the global tracer inside the try block. Is that the intended behavior?

[2019-07-03 05:48] yurishkuro commented on #636
it may or may not be, depending on the call pattern, but there is no need to retrieve active span since it's accessible via local variable defined on L2.

[2019-07-03 17:35] #636 closed

[2019-07-23 17:37] yurishkuro opened #637 "Broken Javadoc links"
- https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/README.md
- https://github.com/jaegertracing/jaeger-client-java/blob/master/README.md

[2019-07-24 04:18] TarunGosain opened #638 "Getting two traces on jaeger UI when I set a custom tag like customerID. Expecting a single trace. Is this possible ?"
## Requirement - what kind of business use case are you trying to solve?

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do you suggest to solve the problem or improve the existing situation?

## Any open questions to address

[2019-07-24 04:19] TarunGosain commented on #638
I am beginner using opentracing with Jaeger in Java. I need to set custom tags in the span like customerId, which I am doing this way:

Span span =tracer.buildSpan("hello service").start();
span.setTag("customerId", customerId);
span.finish();
With this approach I get two traces on the Jaeger UI: One with my custom tag and the standard other without custom tag. My expectation is only to get single

[2019-07-24 07:52] jpkrohling commented on #637
Both links are working for me right now (Firefox and Chrome). @objectiser mentioned that it's also working for him.

[2019-07-24 08:04] objectiser commented on #638
When you say "standard" tags, can you give us an example of what you mean? Possibly include a screenshot of the spans.

It sounds like your app has some instrumentation already installed, that is creating one of the spans implicitly, but then you are also creating a second span explicitly.

[2019-07-24 08:49] TarunGosain commented on #638
By standard tags I meant _http.status_code=200, span.kind=server,http.url, http_metho_d.....
<img width="698" alt="traces" src="https://user-images.githubusercontent.com/14215540/61778764-fee13480-ae1c-11e9-8391-bf0ee0d57625.PNG">
These 2 trace are generated for a single service call. First trace in the image is  because to have my custom tag customerId I am using the following code and the second

[2019-07-24 08:57] objectiser commented on #638
Have a look at this [tutorial section](https://github.com/yurishkuro/opentracing-tutorial/tree/master/java/src/main/java/lesson02#propagate-the-in-process-context) which shows how to make your "hello service" span a child of the span created for your REST endpoint.

This will create a single trace with two spans - so your custom tag would still be associated with the "hello service" span.

If you

[2019-07-25 11:14] objectiser commented on #600
Sorry forgot to update this issue - in Quarkus the issue with using the UdpSender on graalvm seemed to go away https://github.com/quarkusio/quarkus/pull/2304 - however this only occurred with a compiled native executable.

[2019-07-25 17:10] yurishkuro commented on #637
they  work for me too now. closing.

[2019-07-25 17:10] #637 closed

[2019-07-29 15:37] objectiser opened #639 "Release 1.0.0"
## Requirement - what kind of business use case are you trying to solve?

Release 1.0.0 of Jaeger java client.

## Problem - what in Jaeger blocks you from solving the requirement?

Has been 0.x release for a long time, and is now stable. The go and python clients are > 2.x.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Release the current master (0.35

[2019-07-29 22:39] yurishkuro commented on #639
sgtm, but are there any PRs we want to merge first?

Bump OpenTracing to 0.33.0 #623 looks  like a strong candidate

[2019-08-02 07:53] #639 closed

[2019-08-05 09:35] Nikesht opened #644 "Exception in thread "jaeger.RemoteReporter-QueueProcessor" java.lang.NoSuchMethodError: io.jaegertracing.agent.thrift.Agent$Client.sendBaseOneway"
## Requirement - what kind of business use case are you trying to solve?

I am trying to integrate Jaeger java client to trace my application flow. I am running jaeger client on my windows machine.
## Problem - what in Jaeger blocks you from solving the requirement?
I am trying to create a simple trace to check how traces of my application will look like. I am following https://github.com/yurishku

[2019-08-05 12:10] jpkrohling commented on #644
Can you give more details? Which lesson is failing for you? How does your `pom.xml` look like? Are you able to create a repository somewhere with the full project code?

This seems like a version mismatch somewhere. I tried to run Yuri's solution for lesson03, and it did work as expected to me:

![image](https://user-images.githubusercontent.com/13387/62463502-79e60b80-b78a-11e9-8ddd-0c31542c86b1.

[2019-08-05 13:51] Nikesht commented on #644
Hi,
I am able to run the application form yuri's example but when i am trying to integrate it with my application i am getting above mentioned exception.
 public final String getSystemState() throws Exception
    {
      Span span = tracer.buildSpan("OpticsSystemState-getSystemState()").start();
        ...............................................................................................

[2019-08-05 14:45] jpkrohling commented on #644
Your Jaeger Thrift module is at 1.0.0, while the other Jaeger dependencies are at 0.32.0. Try using the same version number for all `jaeger-*` dependencies.

[2019-08-05 17:53] Nikesht commented on #644
I was using thrift module 0.32.0 earlier, after this issue i tried with 1.0.0. It is throwing same exceptions in both cases.

[2019-08-05 22:12] yurishkuro commented on #644
this looks like a mismatch between Thrift version used to compile Jaeger classes and Thrift lib you are linking against. I believe we have a version of Jaeger lib with shaded Thrift, you may want to try that.

[2019-08-06 03:09] Nikesht commented on #644
can you please point me to that ? or should i look for thrift jars from lower versions than 0.32.0 ?
I downloaded these jars in single package from official jaeger repo.

[2019-08-06 04:30] yurishkuro commented on #644
It's described in the readme:
https://github.com/jaegertracing/jaeger-client-java#thrift-version-conflicts

[2019-08-06 12:15] Nikesht commented on #644
![image](https://user-images.githubusercontent.com/8111019/62538979-b5a7d080-b871-11e9-9b69-3f80e2331200.png)
I modified my pom.xml to
<groupId>io.jaegertracing</groupId>
            <artifactId>jaeger-client</artifactId>
            <classifier>shadow</classifier>
            <version>0.32.0</version>
and then ran :
mvn install dependency:copy-dependencies
but it seems that shadow version is not

[2019-08-06 12:59] objectiser commented on #644
If you want to remain compatible with opentracing 0.31, you could download the 0.34 version of the jaeger artifacts - which does have a shadow jar for jaeger-thrift: https://repo1.maven.org/maven2/io/jaegertracing/jaeger-thrift/0.34.0/

[2019-08-06 16:12] yurishkuro opened #645 "[jaeger-thrift] Shadow artifact went missing"
http://central.maven.org/maven2/io/jaegertracing/jaeger-thrift/0.34.0/ contains `jaeger-thrift-0.34.0-shadow.jar`, but http://central.maven.org/maven2/io/jaegertracing/jaeger-thrift/0.35.0/ no longer does. There are no relevant changes mentioned in the changelog.

cc @pavolloffay @jpkrohling

[2019-08-06 16:15] yurishkuro commented on #644
#645 to investigate missing shadow artifact

[2019-08-06 18:07] epkugelmass opened #646 "Graceful reporting degradation for large spans"
## Requirement - what kind of business use case are you trying to solve?

jaeger-client-java drops spans when they exceed some (wire-encoded) size. By default this is ThriftUdpTransport#MAX_PACKET_SIZE, slightly less than the maximum size of a UDP datagram. In my experience, this is most commonly an issue when logs are aggressively attached to a particular span.

Instead of dropping the entire spa

[2019-08-07 07:39] jpkrohling commented on #646
I think this is a really cool idea. I'd even consider enabling it by default.

[2019-08-07 09:00] jpkrohling commented on #645
@pavolloffay did some changes to the build between those versions. The commit af38f1b6ec70c7f1b252a17ce1079588a647e011 looks suspicious, as it bumps the plugin `com.github.johnrengelman.shadow` from `2.0.4` to `5.0.0`. Perhaps there's a new way to specify shadow jars?

[2019-08-08 06:59] wuyupengwoaini opened #647 "could jaeger add span lifecycle extensions?"
## Requirement - what kind of business use case are you trying to solve?
Whether it is a synchronous scene or an asynchronous scene, I want to record the traceid in the log. MDC is currently used to solve the problem of printing traceid in the log. But you need to manually put the traceid in the MDC. In different scenarios, you need to use MDC to put traceid in different components. For example, h

[2019-08-08 08:05] objectiser commented on #647
You could take a look at https://github.com/opentracing-contrib/java-api-extensions - it is used by the https://github.com/opentracing-contrib/java-metrics project to create metrics related to spans, so uses the span lifecycle.

[2019-08-08 10:20] wuyupengwoaini commented on #647
@objectiser  Thanks

[2019-08-08 10:23] #647 closed

[2019-08-09 03:22] yurishkuro commented on #647
also, specifically for logging trace IDs, this worked for me: https://github.com/PacktPublishing/Mastering-Distributed-Tracing/blob/master/Chapter11/exercise1/lib/src/main/java/lib/MDCScopeManager.java

[2019-08-09 04:13] yurishkuro commented on #646
Yeah, we discussed various truncation approaches in the past (I think Node.js client repo has a similar ticket). One problem is that there are many different ways of doing truncation, a default implementation might not be suitable to everyone.

[2019-08-09 06:06] wuyupengwoaini commented on #647
@yurishkuro Thanks! It's a good way.But It is ok when in asynchronous scene? Or When I instrument application only using span  instead of scope,Does it work well?

[2019-08-09 22:06] yurishkuro commented on #647
it works if you use ScopeManager mechanism to pass context within your app (whether it's sync or async doesn't matter).

[2019-08-22 16:06] backjo opened #648 "Support W3C Trace Context header"
see https://github.com/jaegertracing/jaeger/issues/855

[2019-08-24 22:32] csantanapr commented on #632
I agree with this, it’s a standard practice and convention for the central repo

[2019-08-26 11:57] pavolloffay commented on #632
+1. It's just a cosmetic change. Folks might use different names for upstream the point is to document that tag has to be pushed to this repo.

[2019-08-27 08:25] wuyupengwoaini commented on #646
Firstly,I think jaeger-ui should support dropped span, and then  jaeger client  provided a interface and a default implementation

[2019-08-30 21:45] epkugelmass commented on #646
I want to make sure I understand @wuyupengwoaini 's suggestion clearly.

I believe jaeger-ui should warn about dropped span data/truncated spans (not dropped spans -- Jaeger cannot know about a span that is truly gone) just as it currently warns about other anomalies. See https://github.com/jaegertracing/jaeger-ui/blob/126f42c2c7ad192d51876de4e293af55405ca655/packages/jaeger-ui/src/components/Trac

[2019-09-02 02:45] lesliewu opened #651 "upgrade GSON and slf4j-api version"
jaeger-core 1.0.0 is using gson 2.8.2 and slf4j-api 1.7.25 which are released 2 years before. Since there are new versions for both dependencies, do you have any plan to upgrade them?

[2019-09-09 16:01] fmhwong opened #652 "Client and Jaeger backend compatibility"
Do we have a table mapping which versions of jaeger-client are compatible to which versions of Jaeger backend in dockerhub?

[2019-09-09 16:07] pavolloffay commented on #652
I am moving this to the main repository. cc) @jaegertracing/jaeger-maintainers

[2019-09-10 16:45] backjo opened #653 "Log SenderException errors in RemoteReporter"
## Requirement - what kind of business use case are you trying to solve?
Troubleshooting errors in the trace pipeline can be difficult. The metrics emitted by Jaeger tell me there is an error, but I'm unable to see any information in the logs about that error.

## Problem - what in Jaeger blocks you from solving the requirement?
SenderException is swallowed in RemoteReporter

## Proposal - what do

[2019-09-11 07:31] jpkrohling commented on #653
Instead of blindly logging the exceptions, we should probably have the ability for the application to be called back when an exception occurs, so that it can decide what to do.

[2019-09-11 12:50] pavolloffay commented on #653
How would be propagate failures to the app?

We don't want to throw exceptions and interrupt the execution. I have run into similar problems in past, the logging should help to pinpoint the issue.

[2019-09-11 13:56] jpkrohling commented on #653
Callbacks. The Tracer could have a `onError()` method, accepting instances of an error handler. When an exception happens, the tracer calls all error handlers registered with the `onError()`.

Something like (untested):

[code]

[2019-09-11 21:16] yurishkuro commented on #653
my preference would be to log errors rather than maintain an extra API

[2019-09-22 03:09] runlevl4 commented on #409
Just getting started, but I think a perfect use case would be having an API gateway generate the unique ID. That way you wouldn't have one ID at the gateway and another for the downstream services.

[2019-09-22 13:09] jn1z73 commented on #645
@pavolloffay -- it looks like Shadow version 5.0.0 requires Java 7+. But jaeger-client-java targets Java 6+. Wouldn't this cause the issue?

From https://github.com/johnrengelman/shadow:
```NOTE: Shadow v5.+ is compatible with Gradle 5.0+ and Java 7+ only.```

[2019-09-23 15:58] yurishkuro commented on #409
As long as you can convert your external ID into 128bit blob, I think it's fine to support it.

But we would need to support SELF reference as well, because otherwise there's no way to tell the tracer to use external ID and not create a new one.  Cf. https://github.com/jaegertracing/jaeger-client-go/blob/0ba3a027993746a337cd174eaac31620589f1867/README.md#L257

[2019-10-03 03:52] vpbhargav commented on #532
@jpkrohling I would like to work on this.

[2019-10-07 13:26] jpkrohling commented on #532
It's yours. The tricky part is coming up with a concise, yet clear message for each case :)

[2019-10-08 23:00] vpbhargav commented on #532
Just to make sure I understand things correctly, quoting from [#531 (comment) ](https://github.com/jaegertracing/jaeger-client-java/pull/531#discussion_r212220915)

1. "multiple factories but JAEGER_SENDER_FACTORY not specified to select"
refers to
`String requestedFactory = System.getProperty(Configuration.JAEGER_SENDER_FACTORY);`
where requestedFactory would be null and hasMultipleFactories woul

[2019-10-09 06:40] jpkrohling commented on #532
That's absolutely correct.

[2019-10-09 08:33] quaff commented on #653
+1 for logging, errors can be alerted by log collector such as `ELK`, or ignored by customize logger level in configuration file such as `log4j2.xml`.

[2019-10-09 22:18] yurishkuro commented on #521
Replacing this with https://github.com/jaegertracing/jaeger/issues/1849

[2019-10-09 22:18] #521 closed

[2019-10-10 23:38] piyushmor commented on #380
Hi, just raised a PR for the first coverage issue!

[2019-10-11 13:20] #532 closed

[2019-10-13 10:34] esukram commented on #325
This test doesn't exist anymore in this repo.

I was thinking to fix this one in course of `hacktoberfest`. Can you please clarify?

-Markus

[2019-10-13 19:49] yurishkuro commented on #325
indeed. closing.

[2019-10-14 08:35] ADDale opened #659 "Getting Java AbstractMethodError for TracerSpanBuilder.startActive()"
Hi Team,

I am new to Jaeger and trying simple Kafka producer tracing. However I am getting an error.

I have attached the snapshot of code/error and gradle dependencies.

Can someone please help with this?
![Code](https://user-images.githubusercontent.com/46351937/66715767-c7af6d80-ede4-11e9-95bd-7d53a95c8945.jpg)
![Error](https://user-images.githubusercontent.com/46351937/66715768-c7af6d80-ede4-

[2019-10-14 09:18] pavolloffay commented on #659
There is a dependencies version mismatch on your classpath. OpenTracing API contains breaking changes, therefore all dependencies (tracer/jaeger, instrumentations/opentracing-kafka-client) using OpenTracing API should use the same version of the API.

I would recommend using `opentracing-kafka-client:0.1.5` https://github.com/opentracing-contrib/java-kafka-client  witch implements OpenTracing API

[2019-10-14 09:49] ADDale commented on #659
Thanks for your comments. Let me try making this changes and I would revert with outcome.

[2019-10-15 17:38] esukram commented on #406
Hi @jpkrohling
As there has been some work already, do still qualify that to be done?

[2019-10-16 11:32] jpkrohling commented on #406
@chandresh-pancholi, are you still interested in working on this one?

@esukram feel free to take it in a couple of days, in case @chandresh-pancholi isn't available or isn't interested. You might even be able to get two issues in one, as #653 is somewhat related to this one here.

[2019-10-16 11:45] chandresh-pancholi commented on #406
I will be picking it up.

[2019-10-16 12:43] xificurC opened #660 "client stops working after failing to send messages that are too large"
## Requirement - what kind of business use case are you trying to solve?

Sending Jaeger spans.

## Problem - what in Jaeger blocks you from solving the requirement?

After a few unsuccessful sends the client stops sending *any* spans. I've got these error messages by logging the exception as explained in #653 .

There's a couple of these

[code]

*NOTE*: JaegerRemoteReporter is RemoteReporter + t

[2019-10-16 13:29] esukram commented on #653
The default implementation could be the logger - hat do you think?

It would be of course easier to follow @pavolloffay and @yurishkuro suggestion to just log it.

[2019-10-16 13:31] xificurC commented on #653
just add a `log.error()` call please

[2019-10-16 13:35] esukram commented on #159
I am working on this issue.

[2019-10-16 13:54] jpkrohling commented on #653
Yes, follow their suggestion ;-)

[2019-10-16 14:00] chandresh-pancholi commented on #406
Go ahead sir.

[2019-10-17 15:16] chandresh-pancholi commented on #406
@esukram has made the changes already. logging the error in RemoteReporter.
It's better to close this issue as well.

[2019-10-17 15:41] yurishkuro commented on #406
Fixed by #662

[2019-10-17 15:41] #406 closed

[2019-10-17 16:07] chandresh-pancholi commented on #342
Still happening?

[2019-10-18 07:15] jpkrohling commented on #364
@chandresh-pancholi it's yours. Start with a unit test, to make sure the problem still exists.

[2019-10-18 07:16] jpkrohling commented on #342
I haven't seen failures about this recently, so, something might have fixed this. How about you,  @pavolloffay?

[2019-10-18 08:13] #651 closed

[2019-10-18 15:38] objectiser commented on #325
The test does still exist, and just tried - and it fails locally for me: https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-thrift/src/test/java/io/jaegertracing/thrift/internal/senders/ThriftSenderFactoryTest.java#L46

So @esukram is still available if you wanted to look at it.

[2019-10-18 18:23] esukram commented on #325
Ah, different test class then.

Sure, as I am currently in a test spring, I'll have a look.

[2019-10-21 15:00] IamMujuziMoses commented on #345
Hello am Moses, am an Outreachy applicant and am going to try this issue out and i'll need help some times.

[2019-10-21 15:03] IamMujuziMoses commented on #345
am requesting to be assigned to this issue

[2019-10-21 15:23] jpkrohling commented on #345
@IamMujuziMoses it's yours!

[2019-10-24 15:34] esukram commented on #325
I am pretty sure, this is related to the way network interfaces are listed in Mac OS X. I found a similar problem here: [Bazel - GrpcServerImpl](https://source.bazel.build/bazel/+/6b8c7ca48e9e48a9906c031346dc4a924b7ef559:src/main/java/com/google/devtools/build/lib/server/GrpcServerImpl.java;l=691)

Unless @objectiser is providing more details, as I have no Mac, this is hard to tackle. Most likely

[2019-10-24 15:54] objectiser commented on #325
I'm not on a mac - let me know if there is any information I can provide to help diagnose.

[2019-10-27 19:27] esukram commented on #325
@objectiser thanks for providing your input.

I modified the test files to use Hamcrest, so we see more context in case of test failures:
https://github.com/esukram/jaeger-client-java/blob/9c8b53b0ac8615057ba0c4a516ab3f03a06f64bb/jaeger-thrift/src/test/java/io/jaegertracing/thrift/internal/senders/ThriftSenderFactoryTest.java#L71

Would you mind running the tests based on above mentioned refactori

[2019-10-28 09:45] objectiser commented on #325
@esukram
[code]

[2019-10-28 12:45] adriangonz opened #666 "Update to okhttp v4.2.2"
## Requirement - what kind of business use case are you trying to solve?

Jaeger is currently using version `v3.9.0` of `com.squareup.okhttp3:okhttp`, which is a few versions behind the latest `v4.2.2`. It would be useful to update it to the latest version.

## Problem - what in Jaeger blocks you from solving the requirement?

Jaeger is pointing to `v3.9.0`, so in order to use the latest version,

[2019-10-28 14:07] yurishkuro commented on #666
I don't think we want kotlin dependency at runtime. Zipkin moved away from okhttp for that reason iirc.

[2019-10-28 14:52] adriangonz commented on #666
I agree @yurishkuro, it's an important point to consider. If not updating, is the plan then to move away from `okhttp`?

[2019-10-28 15:25] yurishkuro commented on #666
There is no specific plan yet. Do you have any thoughts?

[2019-10-28 16:18] adriangonz commented on #666
I think it's a tricky one. If we don't add the Kotlin dependency, then Jaeger will get stuck in the `v3.x` branch of `okhttp`. Therefore, the only alternative to adding Kotlin seems to move to something else.

This was also the reasoning for the Zipkin project to move to Armeria: https://github.com/openzipkin/zipkin/issues/2646.

[2019-10-28 17:28] yurishkuro commented on #666
That PR is for Zipkin backend, but this is Jaeger client lib. We don't need a full blown server framework here, only some fairly basic HTTP functionality.

[2019-10-29 11:43] adriangonz commented on #666
I agree, the scope between Zipkin and `jaeger-client` is completely different. I used it as an example because, regardless of scope, I think that the same reasoning still applies.

The options moving forward seem to be these three:

- **Update to `okhttp` `v4.x` and add the Kotlin dependency.** It's still not clear how much overhead this adds. It also depends a lot on how much traction Kotlin gets

[2019-10-29 13:56] yurishkuro commented on #666
I don't know much about kotlin, but I assume that similar to Scala it brings with it some sort of stdlib, which will bloat the size of the client distribution. We might also need to share it's stdlib to avoid dependencies hell for users. So I view it almost as unattractive option as staying on okhttp3 (which at the moment is not terrible, it's not that old).

[2019-11-05 14:20] MrBerg opened #669 "Update libthrift to 0.13.0"
## Requirement - what kind of business use case are you trying to solve?

Apache Thrift up to and including version 0.12.0 is vulnerable to [CVE-2019-0205](https://nvd.nist.gov/vuln/detail/CVE-2019-0205) (and [CVE-2019-0210]( https://nvd.nist.gov/vuln/detail/CVE-2019-0210) but that is probably not relevant here)

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - w

[2019-11-05 15:10] yurishkuro commented on #669
Jaeger in general does not use thrift RPC components, only the encoding. It looks like the first cve should not affect this lib.

[2019-11-07 13:05] chandresh-pancholi commented on #364
Tried reproducing this issue with version 1.0.0. The way to create JaegerTracer is changed from 0.24.0 to 1.0.0.

**Test code**
[code]

[2019-12-02 10:34] loicmathieu commented on #669
@yurishkuro even if Jaeger is not affected, this is an issue for those how use dependency analysis tools (like OWASP dependency check) because these tools we display an error for this library.

The same error will exist for people making security audit as the auditer will not analyse the use of the library inside the application (and all it's dependency) but just advise to update te version of a v

[2019-12-03 19:05] rlubke opened #671 "Augment environment variables/system properties to use hierarchical named properties"
## Requirement - what kind of business use case are you trying to solve?

It is currently difficult to give very specific security configuration for JAEGER_* environment variables/system properties within the security.properties file.

## Problem - what in Jaeger blocks you from solving the requirement?

Property or environment permissions have the following restriction:

Currently, Jaeger defines

[2019-12-06 16:18] #669 closed

[2019-12-16 11:04] adriangonz commented on #666
Fixed with #674

Thanks for your help @yurishkuro @pavolloffay !

[2019-12-16 11:04] #666 closed

[2019-12-16 13:42] pavolloffay opened #675 "Backort updates to 0.34.0 (OT 0.31.0)"
Backport CVE updates to 0.34.0 version which supports OpenTracing 0.31.0 (used by MicroProfile).

- [x] thrift 0.13.0

[2019-12-17 14:51] pavolloffay commented on #675
I have backported thrift, okhttp and other dependencies updates and also the updated release procedure.

In nexus the artifact shows as released, however let's wait until it is synced with central https://repo.maven.apache.org/maven2/io/jaegertracing/jaeger-core/

The release job failed on closing the repository but in nexus the repo seems to be closed. This happened before on successful releases

[2019-12-17 15:09] pavolloffay commented on #675
Now it is in maven central https://repo.maven.apache.org/maven2/io/jaegertracing/jaeger-core/0.34.1/

the release branch is `release-0.34` do not remove it.

[2019-12-17 15:09] #675 closed

[2020-01-07 16:39] TomasHofman opened #677 "Memory leak in JaegerTracer"
## Requirement - what kind of business use case are you trying to solve?

Basic usage, just registering a JaegerTracer in an application.

## Problem - what in Jaeger blocks you from solving the requirement?

Each JaegerTracer which is created registers a shutdown hook, which purpose is to close the tracer on application exit. This shutdown hook is however not unregistered when the tracer is close

[2020-01-07 16:54] yurishkuro commented on #677
Sounds reasonable, would you like to create a PR?

However, overall the tracer is designed to work as a singleton, you're not supposed to keep creating new instances and closing them.

[2020-01-07 17:13] TomasHofman commented on #677
Yes, I can create a PR.

This issue is being observed in JBoss EAP application server. The application server creates tracer instances for deployments, or redeployment of the same... So it's a bit different angle.

[2020-01-07 17:14] yurishkuro commented on #677
+1

[2020-01-08 08:24] TomasHofman commented on #677
Master branch PR: https://github.com/jaegertracing/jaeger-client-java/pull/679
0.34 branch PR: https://github.com/jaegertracing/jaeger-client-java/pull/678

[2020-01-08 08:40] #677 closed

[2020-01-16 17:57] motobeats opened #680 "HTTP Client Swallows Span if Size is Greater than Max Payload"
## Requirement - what kind of business use case are you trying to solve?

Client logging "Span reported" but then not sending to Collector is confusing. If due to over Payload limit the span is being swallowed this message should not appear or a different message about not sending.

## Problem - what in Jaeger blocks you from solving the requirement?

No problem per se, just improve transparency o

[2020-01-16 19:26] yurishkuro commented on #680
We can change the wording to "span finished".

[2020-01-16 20:28] motobeats commented on #680
If a span cannot be sent for some reason I would find the logging as such helpful. Rather than having to remember the difference between reported/finished.

That said, from looking at [HttpSender.java](https://github.com/jaegertracing/jaeger-client-java/blob/f07f1ba92d2b6019c5915330893747be5151ea0f/jaeger-thrift/src/main/java/io/jaegertracing/thrift/internal/senders/HttpSender.java) I can't figure

[2020-01-17 15:25] #660 closed

[2020-01-30 07:47] ahmedbaberkhan opened #683 "Service name must not be null or empty"
## Requirement - what kind of business use case are you trying to solve?

I want to disable jaeger span using
   opentracing-jaeger-enabled: false and no jaeger service name is defined.

## Problem - what in Jaeger blocks you from solving the requirement?

java.lang.IllegalArgumentException: Service name must not be null or empty

## Proposal - what do you suggest to solve the problem or improve t

[2020-01-30 10:51] objectiser commented on #683
I'm guessing that you are using https://github.com/opentracing-contrib/java-spring-jaeger ?

You need to create an issue in the project that defines that property, so that if disabled, it should return the `NoopTracer` instead of `JaegerTracer`.

Closing the issue - feel free to reopen if needs further discussion.

[2020-01-30 10:51] #683 closed

[2020-01-30 11:44] ahmedbaberkhan commented on #683
Thanks

[2020-02-12 12:07] ehsavoie opened #684 "Configuration shouldn't keep a reference to a closed sender"
## Requirement - what kind of business use case are you trying to solve?
When reusing a Configuration to create a tracer, if a previous tracer was closed then the sender should be created again as its connections to the agent are closed.

## Problem - what in Jaeger blocks you from solving the requirement?
When redeploying an application the produced tracer's sender is failing because the connecti

[2020-02-17 08:41] #684 closed

[2020-02-17 09:16] pavolloffay commented on #671
Instead of using wildcard could be the full names used e.g. `permission java.lang.RuntimePermission "getenv.jaegerservice";`?

[2020-02-21 20:01] yurishkuro opened #691 "Shaded jaeger-thrift is reported missing"
## Requirement - what kind of business use case are you trying to solve?

Many users prefer to use shaded thrift to avoid version conflicts.

## Problem - what in Jaeger blocks you from solving the requirement?

The README states that a shaded jar is provided via a classifier. However, users from Hadoop ecosystem report that:
(1) IntelliJ doesn't support classifier
(2)  the shaded jar doesn't seem

[2020-02-22 00:19] jojochuang commented on #691
Thanks Yuri for starting this issue!
For information, we are shading Jaeger in Hadoop: https://github.com/apache/hadoop-thirdparty/pull/5
and shading Jaeger in HBase: https://github.com/apache/hbase-thirdparty/pull/13

[2020-02-27 17:11] adnxn commented on #407
id like to dig into this and was discussing some details with @jpkrohling.

so it looks like `ThriftSender` and `ThriftSenderBase` are responsible for most of the "encoder" work and the `HttpSender`/`UdpSender` handle the "transport" responsibilities.

when we talk about using composition as a pattern - do we see something like a `ThriftSender` (and potentially other senders) that hold a `ThriftEn

[2020-02-28 17:10] adnxn commented on #380
#658 and #692 addresses the two coverage gaps. i think we're good to close this issue.

[2020-02-28 17:19] yurishkuro commented on #380
Thanks!

[2020-02-28 17:19] #380 closed

[2020-03-01 12:30] claudio4j commented on #606
It happened to me recently, where I had wrongly set the URl for the JAEGER_ENDPOINT environment variable, the result was the traces were not reported, later I found out the JAEGER_ENDPOINT was the 'query' endpoint instead of the 'collector' endpoint, but I found it just after debugging the source code and a couple of hours. The response from the endpoint was "405 Method Not Allowed" and a non null

[2020-03-02 09:25] jpkrohling commented on #407
That's also how I think it should work.

[2020-03-02 13:47] aveiros opened #693 "Handle UDP Connection Gracefully"
## Requirement - what kind of business use case are you trying to solve?

Handle Gracefully UDP Connection on Application boot (Jaeger might not be present). Same behaviour after Application boot.

## Problem - what in Jaeger blocks you from solving the requirement?

Currently, if a spring service cant connect to jaeger over udp, the service falls over. Opposite to the http, which handles this gra

[2020-03-02 18:03] yurishkuro commented on #691
Duplicate of #645

[2020-03-02 18:04] #691 closed

[2020-03-11 08:08] pavolloffay commented on #648
Done in #694

[2020-03-11 08:08] #648 closed

[2020-03-18 16:07] fischerman opened #696 "Using Uber and W3C format together"
Related to https://github.com/jaegertracing/jaeger-client-java/pull/694#issuecomment-600117164

It looks like it's possible to use Uber and W3C together by simply adding both codecs. This allows to gradually introduce W3C but still be backwards compatible.

[code]

Example output:
[code]

ping @pavolloffay

[2020-03-19 05:59] milankamboya opened #697 "Opentracing with Jaeger in Spring legacy App (xml-based and non spring-boot)"
**Need Help**

I am trying opentracing with jaeger.

I have done implementation in spring boot based application. It is working.

But,

I am trying implementation in spring legacy application (xml-based & non spring-boot). In that, it is not working.

I have check this link and try to implement the same but it's not working.
https://stackoverflow.com/questions/55256948/configuring-jaeger-in-spring

[2020-03-19 07:23] fischerman commented on #696
On a side note, I don't really know the difference between `.withCodec` and `.registerInjector`. I also don't know what the composite codec is for, since composing seems to work without it.

[2020-03-19 09:16] tsologub commented on #409
I see this as a great example for automatic testing. I create a trace with a custom id and then verify that it has reached the destination via `/api/traces`.

[2020-03-19 11:21] pavolloffay commented on #697
This test artifact shows how Spring MVC can be instrumented with open tracing artifacts https://github.com/opentracing-contrib/java-spring-web/tree/master/opentracing-spring-web-itest/mvc

With that instrumentation any OpenTracing client can be used including Jaeger.

As this is not Jaeger java client issue I am closing this.

[2020-03-19 11:21] #697 closed

[2020-03-19 15:16] yurishkuro commented on #409
@tsologub you can achieve the same without custom ID, by using baggage.

[2020-03-23 04:46] quaff commented on #696
Does [CompositeCodec](https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/src/main/java/io/jaegertracing/internal/propagation/CompositeCodec.java) satisfied？

[2020-03-24 00:19] quaff opened #699 "Supports "jaeger-debug-id" in W3C TraceContextCodec"
## Requirement - what kind of business use case are you trying to solve?
Replace `TextMapCodec` with `TraceContextCodec`

## Problem - what in Jaeger blocks you from solving the requirement?
`jaeger-debug-id` is not extracted in `TraceContextCodec`

## Proposal - what do you suggest to solve the problem or improve the existing situation?
Align `TraceContextCodec` with `TextMapCodec`

[2020-03-24 07:18] fischerman commented on #696
I don't understand the question but I believe that I have since learned how everything plays together. The tracer accepts codes using `Tracer.registerInjector`. It keeps a map of formats to codecs, i.e. the second call would overwrite the first call. This is where `CompositeCodec` comes in. If `CodecConfiguration.withCodec` is called multiple times, then it returns a CompositeCodec.

[2020-03-24 08:24] pavolloffay commented on #699
@quaff would you like to submit a PR?

[2020-03-25 21:48] yurishkuro opened #702 "Use tracestate to pass tracing flags for W3C TraceContext"
## Requirement - what kind of business use case are you trying to solve?

Propagate all Jaeger flags when using W3C TraceContext.

## Problem - what in Jaeger blocks you from solving the requirement?

Currently only the sampled bit from Jaeger trace flags is encoded in `traceparent`.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Use `tracestate` to pas

[2020-03-27 10:08] Spark2107 commented on #409
@yurishkuro I have the problem that I want to add some spans to a specific trace. The use case is, that I create a trace in a micro service and give the trace id back to the client. The client then has it's own information which should be added to the given trace. Is there any possibility to do so?

[2020-03-27 15:34] huehnerlady opened #703 "log Span in JaegerSpan.finishWithDuration"
Hi,

We use Jaeger together with spring rabbit.
We run into the error, that we have thousands of children under the node `<trace-without-root-span>`.

Now we would like to get to the roots of that problem. Unfortunately the JaegerSpan log is semi-helpful.
We just see `Span has already been finished; will not be reported again.` [Source](https://github.com/jaegertracing/jaeger-client-java/blob/mast

[2020-03-27 16:09] yurishkuro commented on #703
While adding span IDs to the log is a good call, I am not sure it will be very helpful in your situation. A stacktrace might be more helpful (off by default & configurable).

The problem sounds related to context propagation, like not closing the scope somewhere and always falling back to the same span.

[2020-03-27 16:19] yurishkuro commented on #409
@Spark2107 we've been recently recommending SELF reference for that, which is supported in C++ and Go clients (https://github.com/jaegertracing/jaeger-client-go/blob/0ba3a027993746a337cd174eaac31620589f1867/README.md#selfref), but not in Java. Feel free to create a PR for it.

[2020-03-30 13:06] huehnerlady commented on #703
Hi,

Many thanks for your answer. I did not mean it to be a help in this case, more that we ran into this while we tried to find the bug and we couldn't see which span that was.

So for future problems on our side - and for other users - I thought it might make sense to enhance this logging with some more information :)

[2020-04-09 21:50] william-tran opened #705 "Spans with multiple references have no parent when converted to Thrift"
## Requirement - what kind of business use case are you trying to solve?

I'm trying to send Jaeger traces through the opentelementry-collector via Thrift HTTP, and out to multiple backends. Some of my traces have spans with multiple parents. Jaeger's UI is tolerant of this situation, but others like Honeycomb expect a parent span for all spans other than the root. See https://github.com/honeycomb

[2020-04-10 14:59] william-tran commented on #705
Looking at the opentracing shim for otel, the first reference is used as the parent regardless of the reference type:
https://github.com/open-telemetry/opentelemetry-java/blob/master/opentracing_shim/src/main/java/io/opentelemetry/opentracingshim/SpanBuilderShim.java

[2020-04-14 09:10] pavolloffay commented on #705
Just to clarify are you using maven artifact `jaeger-client-java` to create and send traces to Jaeger?

[2020-04-14 13:56] william-tran commented on #705
Yes, this project reproduces the issue: https://github.com/william-tran/tracing-tests

[2020-04-23 19:41] brianrodecap opened #706 "OkHttp dependency causing unintended behavior in Spring Boot applications"
## Requirement

Introducing Jaeger client dependency should not change default Spring Boot behavior

## Problem

Spring components, specifically RestTemplate, appear to leverage the OkHttp library when included as a transitive dependency of jaeger-client, resulting in the auto-injection of the OkHttp3ClientHttpRequestFactory instead of the default SimpleClientHttpRequestFactory.  Unintended behavi

[2020-04-23 20:05] yurishkuro commented on #706
One option is to shade okhttp similar to how we shade thrift dependency.

[2020-04-23 20:08] yurishkuro commented on #706
Having said that, a couple of comments to the OP:
  * knowing how flexible Spring it, there's probably a mechanism to override which http client it uses instead of relying on auto-discovery
  * it is a good practice to set the timeouts explicitly in your application, instead of relying on defaults (infinite timeout is hardly ever appropriate for a production service).

[2020-04-24 14:19] brianrodecap commented on #706
Thank you so much!

You are correct, Spring absolutely provides for explicitly injecting a specific factory.

Regarding timeouts: agreed, but I do have a legit use case for an arbitrarily long-running async request.  Debugging the unexpected behavior change was the impetus for submitting this issue.  Also, I did not take this further to try to determine other behavioral changes beyond RestTemplate

[2020-04-25 11:55] lujiajing1126 opened #708 "Support sending `X-B3-Sampled` header only"
## Requirement - what kind of business use case are you trying to solve?

As we are using B3 cross-process protocol in the system, we want the tracing system to ignore
any request in which the `X-B3-Sampled: 0` header is found.

## Problem - what in Jaeger blocks you from solving the requirement?

The `B3TextMapCodec` is not complete in the sense that four sampling states documented in [https://gi

[2020-04-27 22:22] #699 closed

[2020-04-28 13:23] prashanthga opened #709 "How to configure ipv6 for JAEGER_AGENT_HOST and JAEGER_SAMPLER_MANAGER_HOST_PORT"
## Requirement - what kind of business use case are you trying to solve?

Using jaeger all-in-one image for our tracing our java based micro services

## Problem - what in Jaeger blocks you from solving the requirement?
While ipv4 addresses work, we dint see any spans being reported in the Jaeger UI when ipv6 addresses are used for JAEGER_AGENT_HOST and JAEGER_SAMPLER_MANAGER_HOST_PORT.

we need s

[2020-05-04 10:02] sheinbergon opened #710 "Weird reported span duration"
Hello.

We are trying to evaluate jaeger-tracing for tracing our various applications.
We are managing spans our selves (via a self-assigned ID), and both starting it and logging events using a self-deduced timestamps in micros-seconds, which seem to be valid.

However, reported span duration is literally off the charts.

Here's a sample span json:

[code]

[2020-05-05 16:42] yurishkuro commented on #710
Transferring to Java client. I suspect the use case with externally provided timestamps has not been extensively tested, so you're running into some edge case. You may want to create a PR with a few unit tests that will probably reveal the issue.

[2020-05-10 12:25] ilylia commented on #710
maybe `tracer.clock().currentTimeMicros()` got a earlier time than the start time you provide ?

[2020-05-10 12:39] sheinbergon commented on #710
@ilylia  yes, you are right, I just solved it a few hours ago.
This is happening because your `SystemClock` implementation does assumes microseconds resolution is not supported. While I'm providing a start time in microseconds, if the span finishes within the same milliseconds, we'll be getting a negtive timestamp, which the jaeger server in turn represents as `unsigned long`. Thus we're getting w

[2020-05-10 14:52] ilylia commented on #710
can you share it?
I can't get current microseconds in jdk8.

Do you mean `Instant`?

[2020-05-11 09:25] sheinbergon commented on #710
I meant I can fix the `SystemClock` to differentiate when running on top of JDK 8 and JDK 11.
however you are running with source compatibility targeting jdk 1.6, which might make this trickier (still doable though).

I'm getting microseconds timestamp by calling `ChronoUnit.MICROS.between(Instant.EPOCH, Instant.now())`

[2020-05-12 03:03] ilylia commented on #710
but `Instant.now()` in jdk8 return just milliseconds, not microseconds, as blow:
(I found this in jdk8 on mac)
[code]
Is it impossible to get microseconds on jdk8?

[2020-05-12 11:05] sheinbergon commented on #710
As I wrote in my original reply, **JDK 9** and above support microseconds (**NOT** JDK8, which you are referring to). Thus, if your code is being used in a JDK 9 or above environment (we are using it in JDK11), it can return microseconds instead of milliseconds, It just needs to differentiate between these scenarios. My offer was to contribute a piece of code to do exactly that :)

Let me know.

[2020-05-13 02:01] ilylia commented on #710
thx~

[2020-05-18 10:25] prashanthga commented on #709
Closing this issue as it worked with correct configuration.

[2020-05-18 11:39] sheinbergon commented on #710
Soooo @ilylia, would you be willing to recieve a smart(er) clock contribution?

[2020-05-18 14:30] yurishkuro commented on #709
Can you elaborate what was incorrect in your first attempt? in case other people run into it.

[2020-05-19 02:08] ilylia commented on #710
Yes! And wait for your pr!

[2020-05-20 00:14] sheinbergon commented on #710
@ilylia I've opened the a [PR](https://github.com/jaegertracing/jaeger-client-java/pull/712)
I formatted according to your own checkstyle ruleset, so things should be OK.

Regarding tests (and aside from of course verifying behavior on my own machine with 2 different JDKs), I'm not sure anything here is testable because you don't run your code on multiple JVM versions (or am I missing something?)

[2020-05-20 15:37] prashanthga commented on #709
Earlier we were using the UDP Sender and we missed configuring the Ipv6 properly for the sampler manager host port , hence this issue was coming. But later UDP Sender works well with Ipv6 address.

However, we have to re-open the issue for the HTTP Sender. When we give the Ipv6 address for the Jaeger end point, the connection is not made to the port 14268 at all. Also we dont see any clude/ logs o

[2020-05-21 13:13] objectiser commented on #709
@prashanthga The HTTP Sender still uses a queue within the tracer to buffer spans before they are sent to the collector in a batch.

[2020-05-21 13:28] prashanthga commented on #709
Okay. So we can view the issues only through the metrics?

Coming to the issue, we observed that Http sender is able to resolve the ipv6 address but throws a socket timeout exception.

We realised we are using link local ipv6 address. Should we replace with global ipv6? Any idea

[2020-05-25 10:06] sheinbergon commented on #710
@ilylia any response would be much appreciated

[2020-05-25 12:04] pavolloffay commented on #696
The composite codec is used in the configuration class if there are multiple implementations for the same format.

@fischerman thanks for the write up. I am closing this as Jaeger client can be configured to use w3c format or multiple formats at the same time.

[2020-05-25 12:04] #696 closed

[2020-05-26 02:56] ilylia commented on #710
sorry for a long time waiting. and wait for the merge.

[2020-05-26 06:52] maunzCache opened #713 "LoggingReporter to verbose"
#  Requirement - what kind of business use case are you trying to solve?

I want to read the logs of my application which utilizes the jaeger-client.

## Problem - what in Jaeger blocks you from solving the requirement?

When reading the logs the jaeger-client software overlaps entries with a verbose INFO logging which is reported by the LoggingReporter Class. The log is full of reported spans (ev

[2020-05-26 08:23] pavolloffay commented on #713
hi @getjack, are you using logs from `LoggingReporter`? if no, then it's best to disable the logging reporter and just use remote reporter that sends spans to Jaeger backend.

[2020-05-26 12:28] getjack commented on #713
Thanks for the response @pavolloffay . I will ask my colleague for that as the logging infrastructure is rather complex. As far as i am aware the logs are persisted in an Elastic cluster and i don't think we have any other jaeger backend.

[2020-05-27 14:43] prashanthga commented on #709
Found the root cause:
when we configure the JAEGER_END_POINT with the linked local ipv6 address, this issue happens. This was resolved by configuring the global ipv6 address

[2020-05-27 14:43] #709 closed

[2020-05-27 14:48] prashanthga opened #714 "Unable to configure mTLS when Jaeger production helm charts are installed."
## Requirement - what kind of business use case are you trying to solve?
We have installed the Jaeger production components using the helm charts. Our next goal is to configure transport security to the Jaeger components using mTLS of Istio service mesh.

We have created a namespace called "jaeger" where all the jaeger components are placed. The mTLS policy and destination rule are properly config

[2020-05-27 19:36] yurishkuro commented on #714
This is not the relevant repository for this issue. Consider opening a ticket against the Help chart repo. It's also possible that the problem is with your networking setup where Jaeger backend cannot reach Cassandra, or the mTLS tunnel gets in the way somehow.

[2020-05-27 19:36] #714 closed

[2020-06-07 00:04] seho-kim-do-something opened #715 "Add trace IDs into std logging (MDC)"
Hi,
I am new to Jaeger, and need some help on how to make span reported with logs.
With logback, I see spans with logs including application logs from the UI, but with log4j2 it doesn't get any log messages.
Is there any way to work with log4j2?
Thanks,
Seho

[2020-06-08 08:19] pavolloffay commented on #715
Hi @seho-kim-do-something, thanks for reporting the issue.

MDC OpenTracing implementation (putting trace IDs into logs) requires wrapping of `ScopeManager`. The scope manger is configured at tracer creation time which is vendor specific operation. Hence this integration is specific per vendor. We could implement the MDC integration directly in this repository since the `jaeger-core` depends on SL

[2020-06-08 14:33] seho-kim-do-something commented on #715
Thank you @pavolloffay

[2020-06-09 15:54] sheinbergon commented on #710
@ilylia sorry for taking the time to address the issues in the PR.  I'm ready to proceed with the merge process

[2020-06-16 18:50] sheinbergon commented on #710
@ilylia  any news about finalizing this contribution?

[2020-06-18 15:48] william-tran opened #716 "Tag metrics with service, operation name, and certain span tags"
## Requirement - what kind of business use case are you trying to solve?

- I want to know how many traces a service and operation are generating, and how many are being sampled or not sampled, so that I can tune their sampling probabilities. This can be another way to achieve adaptive sampling by reacting to their metrics. I can see this useful in cases where you're only using jaeger-client, and

[2020-06-22 23:31] remal opened #717 "Is it possible to query traces from Java tool?"
Hello,

I'm writing a Java tool that should request traces with spans from Jaeger and do some logic.

[Trace retrieval APIs](https://www.jaegertracing.io/docs/1.16/apis/#trace-retrieval-apis) documentation page says that there is stable gRPC interface. However I couldn't find a Java library that can query traces from Jaeger.

I've also tried to compile [query.proto](https://github.com/jaegertracin

[2020-06-23 00:22] yurishkuro commented on #717
Did you try using https://github.com/jaegertracing/docker-protobuf ?

[2020-06-23 09:50] remal commented on #717
@yurishkuro No, I didn't. First of all, because it requires me to throw out existing protobuf Gradle plugin(s). And I still need to pass a lot of parameters: https://github.com/jaegertracing/jaeger-idl/blob/master/Makefile. Moreover, I couldn't find any documentation, so I supposed that troubleshooting could take a lot of time.

Unfortunately right now I see only one solution: rely on unstable JSO

[2020-06-23 16:23] yurishkuro commented on #717
We do not plan to publish/maintain auto-generated code, the Proto definitions *are* the API.

The [Makefile][] in jaeger-idl uses the Docker image to generate code for all languages as part of the CI.

Gradle plugin can be made to work with a Docker image too, we do it in this repo to generate the Thrift files:
  * https://github.com/jaegertracing/jaeger-client-java/blob/0d4c67566644b2335006fe7e23

[2020-06-23 19:24] william-tran opened #719 "Support delayed sampling"
## Requirement - what kind of business use case are you trying to solve?

I'd like to make sampling decisions according to service and operation name by leveraging remote controlled sampler.

## Problem - what in Jaeger blocks you from solving the requirement?

Some instrumentation frameworks create a root span e.g. at servlet level, and use the HTTP method as the operation name; but then further

[2020-06-23 19:56] yurishkuro commented on #719
I think it's reasonable to approach this piecemeal starting with shared SamplingState. Thread safety issues are the same as always. In the Go client we opted to avoid using mutexes for synchronization and instead use spinning lock principle via atomic CAS operations. It's worth doing a benchmark first to see what's more appropriate for Java. Note that the sampling state is read very frequently, fo

[2020-06-23 21:01] remal commented on #717
Please correct me if I'm wrong, but if I understand correctly, you publish a java client for span reporting API. Isn't part of it generated? Would it be so difficult to publish another client of another API? By "publish" I mean publishing to MavenCentral/JCenter.

If I manage to generate Java code from current proto file, will it support previous version of Jaeger Query service? And what about fut

[2020-06-23 21:12] yurishkuro commented on #717
This repository is the SDK that implements the OpenTracing API. Yes, it uses generated code as part of the library, but that code is not exposed to the users of the library, they are only exposed to the explicitly defined public API, which is OpenTracing.

Generating code for consuming gRPC service is the normal course of action of interacting with such services. Unless someone wants to expose a s

[2020-06-23 21:27] remal commented on #717
What should I do if you decide to change the way you build your proto file? I don't use Makefile, so I have to write all the logic myself, right? In this case if you change Makefile, most probably I get some not obvious issues. Can you suggest something here?

[2020-06-23 21:49] yurishkuro commented on #717
Sorry, I don't understand what difficulties you're expecting. If you look at _virtually any gRPC tutorial_, they all start with showing how to generate client classes from proto files. That's just a fact of life, this is how you consume gRPC/Proto services.

Since our proto files include certain non-standard annotations, we provided a Docker image as an alternative to off-the-shelf `protoc` compil

[2020-06-23 21:54] remal commented on #717
OK, I got your points. I'll try to generate Java sources. But I would appreciate it if you start providing some Java client for Query API. How about adding it to some "possible improvements list" and see if people need it or not? I believe I saw one more issue about this topic.

[2020-06-23 21:54] remal commented on #717
OK, I got your points. I'll try to generate Java sources. But I would appreciate it if you start providing some Java client for Query API. How about adding it to some "possible improvements list" and see if people need it or not? I believe I saw one more issue about this topic.

[2020-06-23 21:59] yurishkuro commented on #717
Don't recall much demand for such library yet, but it's certainly possible. Feel free to start a project like that, if you're willing to maintain it. We can provide links to such projects in some central location, like https://www.jaegertracing.io/docs/1.18/apis/.

The question of API versioning is something we'll need to address indeed, right now we don't have any https://github.com/jaegertracing

[2020-06-25 18:18] yurishkuro opened #720 "Do not URL-encode uber-trace-id headerr"
The colon-separated format of uber-trace-id is safe for HTTP headers, we should not be forcing URL encoding on it.

https://github.com/jaegertracing/jaeger-client-java/blob/016e0c33be6b5327220b4048461527500842a077/jaeger-core/src/main/java/io/jaegertracing/internal/propagation/TextMapCodec.java#L129

[2020-06-26 19:03] #720 closed

[2020-06-27 18:01] #715 closed

[2020-06-27 19:25] yurishkuro opened #722 "Publishing to Nexus is failing"
Release 1.3.0 failed to publish with the following error:

cc @pavolloffay @jpkrohling

[2020-06-27 19:32] yurishkuro commented on #722
After running `./gradlew publishToMavenLocal -PskipSigning=true` and comparing these files

* ~/.m2/repository/io/jaegertracing/jaeger-core/1.3.1-SNAPSHOT/jaeger-core-1.3.1-SNAPSHOT.pom
* ~/.m2/repository/io/jaegertracing/jaeger-client/1.3.1-SNAPSHOT/jaeger-client-1.3.1-SNAPSHOT.pom
* ~/.m2/repository/io/jaegertracing/jaeger-thrift/1.3.1-SNAPSHOT/jaeger-thrift-1.3.1-SNAPSHOT.pom

only jaeger-thrif

[2020-06-29 08:44] pavolloffay commented on #722
Could you please past the content of the jaeger-thrift? Maybe it does not inherit settings from the parent.

The issue is most likely in this PR https://github.com/jaegertracing/jaeger-client-java/pull/704 by @zhalas

[2020-06-29 14:56] yurishkuro commented on #722
Do you mean content of the generated `jaeger-thrift.pom`?

[code]

[2020-06-29 16:24] zhalas commented on #722
The problem is that while publishing the shadow aritifact we also publish POM for it, and it's the shadow POM that is causing problems. It is indeed caused by #704. I'm trying to find some solution to this problem, but if it's blocking release revert may not be a bad idea.

[2020-06-29 16:34] yurishkuro commented on #722
@zhalas I'm ok to wait with the release until this is resolved.

[2020-06-30 00:58] yurishkuro commented on #722
It looks like POM issue is fixed, but publishing is still failing, I don't know why. The errors from Sonatype are like this:
[code]

I dropped all unclosed repositories before running the release, but it still failed.

@pavolloffay any thoughts?

[2020-06-30 07:44] pavolloffay commented on #722
It seems that the artifacts got into the central https://repo.maven.apache.org/maven2/io/jaegertracing/jaeger-client/

Could you please provide a link to the CI job with those messages?

The release job for 1.3.1 failed https://travis-ci.org/github/jaegertracing/jaeger-client-java/jobs/703361828#L834 on closing the nexus repository. I have seen this before and artifacts always got into the central

[2020-06-30 14:19] yurishkuro commented on #722
both 1.3.0 and 1.3.1 jobs were red

* https://travis-ci.org/github/jaegertracing/jaeger-client-java/builds/703361825
* https://travis-ci.org/github/jaegertracing/jaeger-client-java/builds/703338723

[2020-06-30 17:21] zhalas commented on #722
This looks strange. From the Sonatype logs you posted it looks like all the artifacts are uploaded more than once, but I don't know how #725 could cause that. If there are any issues I would expect them to be localized and affecting only shadow artifacts. I can try to look at publishing flow and see if I can find any problems (which may be hard to do without end-to-end publishing flow), or we can

[2020-06-30 18:02] yurishkuro commented on #722
@zhalas I don't think it's related to your change. The gradle plugin has always been pretty weak in dealing with Sonatype.

[2020-07-29 22:01] william-tran commented on #719
Update on this:

I'm working on something internally first to validate the approach I'm taking. It doesn't go as far as the go client with a shared sampling state, but sample can be called on setOperationName AND on child context creation. This is to achieve something similar to https://github.com/openzipkin/openzipkin.github.io/wiki/secondary-sampling, but there's no ttl on the secondary sampling

[2020-07-30 19:34] pschichtel opened #728 "Log errors that occur during ThriftSender's flush"
This is a followup issue to #726 / #369.

Currently both the HttpSender and (once #726 is merged) the UdpSender can fail on every flush() operation while the jaeger agent is not available.

The suggested improvement is to log just the first exception and then log once it works again. That way all the necessary/useful information is logged, but the log is not flooded with redundant errors.

[2020-07-30 19:51] pschichtel commented on #728
@jpkrohling From looking at the call stacks I assume that either `RemoteReporter.FlushCommand#execute()` or `RemoteReporter.QueueProcessor#run()` would be the right place to handle the error logging, right?

[2020-07-31 07:41] jpkrohling commented on #728
I believe so. We are already doing some exception handling at `QueueProcessor#run` and recording a metric in case it fails, so, that would be my preference.

[2020-07-31 07:42] #369 closed

[2020-07-31 12:13] pschichtel commented on #728
That's what I implemented in #729

[2020-07-31 12:55] #728 closed

[2020-08-01 11:03] pschichtel commented on #728
Is there any plan for an upcoming release that will contain these changes?

[2020-08-02 06:48] gamefundas opened #730 "Jaeger trace/span shipper"
## Requirement - what kind of business use case are you trying to solve?

I am working on a Low Latency Java application that generates custom traces in log files. The design limits us from using any agents or connecting to external collectors mainly for the purposes of speed and simplicity. Currently the logs are in custom format and we don't have a good way to visualize them. The idea is to move

[2020-08-03 07:08] pavolloffay commented on #728
I can cut a patch release today

[2020-08-03 07:48] pavolloffay commented on #730
This should be doable but, the logging reporter does not log full spans. Try to play with to see what data it logs. We could however extend it to log all span fields.

Jaeger collector exposes two native Jaeger endpoints (and Zipkin) that can be used to push trace data to the storage see https://www.jaegertracing.io/docs/1.18/deployment/#collectors. I would recommend using gRPC endpoint, here is a

[2020-08-03 11:27] pschichtel commented on #728
Thanks!

[2020-08-03 12:39] pavolloffay commented on #728
The artifact should be available in the central

[2020-08-03 18:16] pschichtel opened #732 "RemoteReporter repeatedly logging error and success during unavailable agent"
Followup to #728

This is very likely a bug I introduced myself in #729 which got released with 1.3.2.
It seems to toggle between the states even though the agent has not been reachable. I'll investigate this.

[2020-08-12 16:04] chgl opened #733 "Does the JAEGER_PROPAGATION env var support the w3c setting?"
## Requirement - what kind of business use case are you trying to solve?

The README currently states that "Valid values are jaeger and b3" for the JAEGER_PROPAGATION env var. From briefly checking the code it looks like `w3c` should be supported as well. Is this correct?

## Problem - what in Jaeger blocks you from solving the requirement?

The documentation does not clarify if I can use `w3c` as

[2020-08-13 05:03] lichenglin opened #734 "Add default MDCScopeManager support in JaegerTracerResolver"
We need add a default MDCScopeManager in class JaegerTracerResolver、JaegerTracerFactory

in order to add traceid and spanpid in slf4j's mdc context.

It's very useful to 3rd packages when using opentracing api to create jaegertracer.

such as java-specialagent.

[2020-08-17 09:06] objectiser commented on #733
@chgl Yes it is supported - would you be interested in submitting a PR to fix the docs?

[2020-08-17 18:57] #733 closed

[2020-08-19 17:44] rameshneela opened #737 "Can we use application generated id as trace id?"
Our application generated different unique id for each transaction , can we override jaeger id  with that ?
Our support knows only application generated unique id, if we could able update jaeger id with that , that would be helpful..

## Requirement - what kind of business use case are you trying to solve?

## Problem - what in Jaeger blocks you from solving the requirement?

## Proposal - what do

[2020-08-20 14:50] winster commented on #715
Hi,

I have a springboot-webflux application and I was expecting traceID in the slf4j logs. But I don't see it. Below is my dependencies
[code]
I used 1.3.2 seeing that this PR was merged on Jun 27.

[2020-08-20 16:07] yurishkuro commented on #715
Just dependency is not sufficient, see https://github.com/jaegertracing/jaeger-client-java/tree/master/jaeger-core#log-correlation

[2020-08-28 15:04] IndicatorFluid opened #738 "Ignores some tags when you create a span with forced sampling"
## Requirement - what kind of business use case are you trying to solve?

We have an application which we generally do not want tracing enabled, but we have certain user triggered workflows
where we'd like to enable tracing for.

The way we achieve this is for user initiated actions we build a new span (hence context) with
`Tags.SAMPLING_PRIORITY` set to `1`, together with other tags specific to t

[2020-08-28 16:12] yurishkuro commented on #738
This has been already solved in Go and Node.js Jaeger clients via [delayed sampling][1]. It can be implemented in Java as well, of someone has the time.

[1]: https://github.com/jaegertracing/jaeger-client-go#delayed-sampling

[2020-08-28 17:23] AudriusButkevicius commented on #738
Sure, yet that's more effort than just fixing this bug.

Would you guys be happy with a PR fixing this specific issue? If yes, which way you guys prefer it to be solved (always put tags in context, check sampling tag before hand)?

[2020-08-28 17:29] yurishkuro commented on #738
Are you saying that you're supplying SAMPLING_PRIORITY at span creation, but it's still ignoring other tags due to map iteration order? If so, then yes, it sounds like a bug, this specific tag should be processed first.

[2020-08-28 20:12] #738 closed

[2020-09-07 20:38] yurishkuro opened #740 "Document release process credentials"
@pavolloffay could you add a couple paragraphs to RELEASE.md explaining what kind of credentials are encrypted in the .travis.yml, e.g. GH_TOKEN, SIGNING_KEY_ID, etc. - what are their origins?  I see that the release commits come up under your name.

[2020-09-07 21:01] yurishkuro commented on #740
Actually, Pavol's name only comes up in Travis, git and github show `jaegertracingci` bot

![image](https://user-images.githubusercontent.com/3523016/92416486-bf160300-f12b-11ea-9cde-0605ee1d07d1.png)

[2020-09-10 02:30] Saewo0 opened #741 "initialize a tracer with noopreporter & retrieve subspans from rootspan."
## Problem 1:
## Requirement

We don't want to store spans in memory or in remote storage because this may cause some resource overheads. I think I should use NoopReporter to avoid involving sender, agent, and other services.

## Problem
In the document, it says get tracer from configuration is the best way to instantiate a tracer. However, by looking into the source code I found getting tracer by

[2020-09-10 03:09] yurishkuro commented on #741
You can implement your own reporter that will accumulate spans in memory and print them once the entry span is finished. This would obviously only work if all your work on a request is done by a single process without remote/distributed calls. If you're dealing with a distributed system, you do need to export the spans into a central location.

[2020-09-12 20:52] ofir-popowski opened #742 "Remotely changing the service sampling rate while per operation exists, does nothing"
## Requirement - what kind of business use case are you trying to solve?

We would like to use the `RemoteControlledSampler` to change the service sampling rate, while also having `perOperation` strategy.

## Problem - what in Jaeger blocks you from solving the requirement?

At my work we've recently started applying traces with Jaeger, and I have implemented a custom `SamplingManager`, because we

[2020-09-12 21:04] yurishkuro commented on #742
The part `if (response.getOperationSampling() != null) {` checks the _response_, not the current state in memory. Not sure if this is an issue, but consider creating a PR with a unit test that illustrates the problem.

[2020-09-12 21:09] ofir-popowski commented on #742
Yes I was talking about the response. It uses the manager to fetch the sampling strategy, which is almost identical except the rate for `foo` has changed, which it doesn't check because the response also contains the `perOperationSampling`

[2020-09-12 22:52] ofir-popowski commented on #742
@yurishkuro I have opened a PR that adds a unit test that demonstrates what I meant, and fixes the issue. I'm not sure the test is okay, as it just checks for equality, but I think it's clear what I tried to do, and what I propose as a fix

[2020-09-14 13:56] pavolloffay commented on #740
Singing key and password are already documented https://github.com/jaegertracing/jaeger-client-java/blob/028597a3e89eb786f75380d30d1cd0268fb4974e/RELEASE.md#L35 it was done by @jpkrohling.

I can add docs for github token to the travis yaml.

[2020-09-14 17:13] yurishkuro opened #745 "Flaky unit test io.jaegertracing.zipkin.internal.V2SpanConverterTest#testConvertSpanWith128BitTraceId"
This is likely related to zero padding of trace IDs. If the test is using random IDs, then it has ~1 in 16 chance to run into it.
[code]

[2020-09-14 17:13] #740 closed

[2020-09-15 15:37] #745 closed

[2020-09-15 21:44] ofir-popowski commented on #742
I'm closing this issue, as I found out the mistake was on my end.

When the collector returns a response when the sampler gets updated, the JSON that returns gets modified
This is how my `sampling_strategies.json` looks like:
[code]

Yet the JSON that returns from the collector looks like this:
[code]

The part that gets added is the following, and we end up with the `probabilisticSampling` rate b

[2020-09-15 21:44] #742 closed

[2020-09-18 11:50] morarucostel opened #747 "How to send jaeger tracing data from the client to multiple agents/collectors"
## Requirement - what kind of business use case are you trying to solve?

In a kubernetes environment we want for the microservice (the client) traces to be captured by two different agents that in return will connect to two different collectors so that we can store the tracing data in two different data stores.

The reason this this specific use-case: We have one Jaeger instance running in the kl

[2020-09-18 12:53] jpkrohling commented on #747
This isn't possible at the client level, but you can accomplish that in two ways:

1. by having a single collector that uses the `kafka` storage mechanism. From there, you can read the spans from multiple ingesters, persisting them in multiple places.
1. by using the OpenTelemetry Collector, configured with a Jaeger receiver and multiple exporters.

[2020-09-18 12:53] #747 closed

[2020-09-18 14:43] morarucostel commented on #747
@jpkrohling thank you for the response and for confirming me that it can't be achieved at the client level.

With regards to the option:
1/ Yes, `kafka` topology will do it - we wanted to solve our use-case without bringing an additional framework into picture,
2/ I'll have too dig deeper into this direction and and check what it can support.

However, from the look of it, it seems that there is n

[2020-09-18 14:56] jpkrohling commented on #747
If you decide to go with the OpenTelemetry way, you can deploy the collector as a sidecar, like we do at the Jaeger Operator with the Jaeger Agent. This sidecar would then multiplex data to the respective Jaeger backends.

[2020-09-18 16:57] yurishkuro commented on #747
Technically, you could implement so-called tee-tracer that encapsulates two independent traces, but you'd also need to configure one of them to use a different wire propagation format if your intention is to have two different sampling strategies simultaneously (because sampling decision must be propagated). I agree with @jpkrohling that it's better to sample the data with a single tracer with hig

[2020-09-18 18:56] jpkrohling commented on #84
Are we still interested in doing this?

[2020-09-24 20:04] Saewo0 commented on #741
Thanks, Yuri! User-defined reporters solved my problem. I will close this issue.

[2020-09-24 20:04] #741 closed

[2020-09-29 12:43] pbd-axa opened #748 "Vulnerability scan fails for io.jaegertracing:jaeger-thrift:jar:1.4.0 caused by dependency org.jetbrains.kotlin:kotlin-stdlib:jar:1.3.50"
## Requirement
Vulnerability scan fails.

## Problem
Our vulnerability check fails because this dependent artifact of io.jaegertracing:jaeger-thrift:jar:1.4.0 is affected:
org.jetbrains.kotlin:kotlin-stdlib:jar:1.3.50.

The vulnerability is documented here: https://nvd.nist.gov/vuln/detail/CVE-2020-15824

## Proposal
Update to version 1.4.0 or higher of org.jetbrains.kotlin:kotlin-stdlib:jar.

[2020-09-29 15:28] yurishkuro commented on #748
kotlin is a transitive dependency of okhttp. You can pin kotlin to 1.4.10 yourself in your dependencies.

here we can bump okhttp to 4.9.0.

[2020-09-29 16:43] #748 closed

[2020-10-01 08:18] magnusp commented on #87
Is this still valid? And if so, could we have a few pointers where to look, related tests etc?

[2020-10-01 16:48] yurishkuro commented on #87
This is the place where logging should happen:

https://github.com/jaegertracing/jaeger-client-java/blob/d444df27c8f802a6938a0520f795c84e5dde44f6/jaeger-core/src/main/java/io/jaegertracing/internal/JaegerTracer.java#L349-L353

The debug header is being tested here:

https://github.com/jaegertracing/jaeger-client-java/blob/0b2d27c8105da8f98121063ea68e09dd2272a49f/jaeger-core/src/test/java/io/jaeger

[2020-10-09 02:58] jiangxinlingdu opened #750 "why traceId more than ten million"
i search es dsl:
[code]

[code]
why traceId more than ten million ???  What should I do this problem?

[2020-10-09 12:59] jpkrohling commented on #84
I'm removing myself from this issue, as I don't expect to work on this anytime soon.

[2020-10-09 13:19] Anisha-28 commented on #159
Hi @jpkrohling @pavolloffay i am an outreachy applicant .. i am just wondering if i can try solving the issue with some clarification in this.

[2020-10-09 14:32] jpkrohling commented on #159
@Anisha-28, wait for @pavolloffay's description, but if it's still an issue, it's yours!

[2020-10-10 02:36] Anisha-28 commented on #159
Any steps on How to run this application and try running it to see the errors .. so i can fix it and work on commented out checks @yurishkuro

[2020-10-10 04:25] yurishkuro commented on #159
Once you uncomment the features in checkstyle.xml, the errors will show up once you run `./gradlew check`

[2020-10-12 07:48] jpkrohling commented on #159
@Anisha-28 In addition to what @yurishkuro mentioned, you might want to check the contributing doc: https://github.com/jaegertracing/jaeger-client-java/blob/master/CONTRIBUTING.md

[2020-10-12 18:42] craigtmoore opened #751 "JaegerSpans not reported unless a 1s Sleep is added after tracer is initialized"
## Requirement

I am trying to monitor the performance of the Jenkins regression tests that my company runs each day. Every time someone commits a change, our Jenkins project runs and during the job run, I want Jaeger to report how long the test takes to run with child spans for each individual step of the build.

## Problem

The problem is that if I don't include a `Thread.sleep(1000)` after the

[2020-10-12 18:46] jpkrohling commented on #751
I think the tracer is (or should) be ready to be used once you build it. What I think that might be happening is that spans aren't being flushed out before the test/JVM stops. In your test, could you make sure you have a call to `this.tracer.close()` in the tear down phase?

[2020-10-12 18:59] craigtmoore commented on #751
I removed the `Thread.sleep(1000)` and added to the end of my test `JaegerClient.instance.tracer.close()` but it still did not report the spans.

[2020-10-12 19:06] jpkrohling commented on #751
If you add the sleep to the end of your test, does it work?

[2020-10-12 19:12] craigtmoore commented on #751
No, it does not work in that case either (note there were are sleeps in each of the child spans)

[2020-10-13 07:39] jpkrohling commented on #751
That does sound like a bug then. I'll leave it open with the hacktoberfest tag, to see if someone wants to debug it and figure out what's going on.

[2020-10-14 11:46] priyamaplelabs opened #752 "Tags set in JAEGAR_TAGS environment variable is not available in Jaeger trace data"
We set the JAEGER_TAGS env variable as below
export JAEGER_TAGS="_tag_appName=java-app,_tag_projectName=sftrace"

We then start the Java application where we have also created a span as below
`Span span= ManagerApplication.tracer.buildSpan("create_task").start();
 span.finish();`
Once we send a http request, we are able to see the span in Jaeger UI.
But the tags that we added through the env varia

[2020-10-14 13:41] objectiser commented on #752
@priyamaplelabs Moving this issue to the jaeger java client repo.

Could you provide information about the jaeger client version you are using?

[2020-10-14 13:46] priyamaplelabs commented on #752
Hello,
The jaeger client version is 1.4.0
Thanks,
Priya

[2020-10-14 14:16] objectiser commented on #752
Are there any errors reported regarding parsing the tags?

Could you try printing the output from `io.jaegertracing.Configuration.fromEnv().getTracerTags()` to see what tags it has loaded from the environment?

[2020-10-15 08:36] priyamaplelabs commented on #752
There are no errors
io.jaegertracing.Configuration.fromEnv().getTracerTags() returns
{_tag_projectName=sftrace, _tag_appName=hot_ROD}

But cannot see the tags in Jaeger UI.

[2020-10-15 14:08] objectiser commented on #752
@priyamaplelabs I wasn't able to reproduce using Jaeger Java client 1.4.0 with all-in-one 1.20.

What backend storage are you using? Could you try with all-in-one/memory to see whether the problem occurs still?

[2020-10-16 02:58] yurishkuro commented on #752
also, in case you didn't look there, these tags will be under Span/Process/Tags, not Span/Tags.

[2020-10-19 03:29] priyamaplelabs commented on #752
Hello,
I started Jaeger as below
docker run --rm -it --link=elasticsearch --name=jaeger -e SPAN_STORAGE_TYPE=elasticsearch -e ES_SERVER_URLS=http://elasticsearch:9200 -e ES_TAGS_AS_FIELDS_ALL=true -p 16686:16686 -p 14268:14268 -p 5778:5778 -p 14250:14250 jaegertracing/all-in-one:1.12

At the java application side, set the tag in bashrc as below and sourced it.
export JAEGER_TAGS="_tag_appName=hot_

[2020-10-19 09:06] objectiser commented on #752
@priyamaplelabs Could you try two things separately - doing a test after each, to see if we can narrow down where the issue may be:
1) The version of the backend being used is quite old, can you try `1.20` instead of `1.12`
2) Change `SPAN_STORAGE_TYPE` from `elasticsearch` to `memory`

[2020-10-19 16:37] objectiser commented on #752
@priyamaplelabs Can you show the code you are using to configure the tracer?

[2020-10-20 05:37] priyamaplelabs commented on #752
Hello,
This is how we configure trace in the Java app
`public static JaegerTracer init(String service) {
    SamplerConfiguration samplerConfig = SamplerConfiguration.fromEnv().withType("const").withParam(1);
    ReporterConfiguration reporterConfig = ReporterConfiguration.fromEnv().withLogSpans(true);
    Configuration config = new Configuration(service).withSampler(samplerConfig).withReporter(re

[2020-10-20 08:08] objectiser commented on #752
@priyamaplelabs You need to either explicitly passed in the tracer tags, using the `withTracerTags(map)` method, or make a change to the following line:
[code]
which will build the configuration from the environment variables first, and then override the sampler and reporter.

[2020-10-20 08:58] priyamaplelabs commented on #752
Hello,
With the change you have suggested, we are able to see the tags in Jaeger UI.
Thanks for the support.

[2020-10-20 09:03] #752 closed

[2020-10-23 05:49] c-koell opened #753 "Enable MDCScopeManager via env variable"
## Requirement - what kind of business use case are you trying to solve?

We are using Microprofile openTracing on OpenLiberty with jaeger as implementation. It would be great to enable the MDCScopeManager via env variable because we have no ability to configure it via Microprofile openTracing Spec.

[2020-10-23 22:03] yurishkuro commented on #753
Similar to #734

[2020-10-24 19:45] VictoryWekwa commented on #610
Hello @jpkrohling , I am an outreachy applicant for this cohort, please can I work on this issue if it is still open?

[2020-10-26 04:56] priyamaplelabs opened #754 "https support in jaeger client"
Hello,
Please find below the Issue details

**Use case**: Integrating Jaeger with elastic apm
**Setup**:
Jaeger data ->nginx->elastic apm server->elasticsearch
Nginx listens on https(**https://<hostname:443/jaegertrace**) which forwards the request to elasticapm(**http://<hostname:14268/api/traces**> We also have a self signed certificate generated for the server

**Questions**:
1. How to set the

[2020-10-26 09:31] jpkrohling commented on #610
Sure. Are you able to get the base of this on your own, or would you need a complete list of who goes where?

[2020-10-26 11:05] VictoryWekwa commented on #610
Yes please, I would need a complete list of who goes where.
Thank you

[2020-10-26 19:35] jpkrohling commented on #610
For maintainers, it would be easy: the current Jaeger maintainers are also maintainers here, and nobody else:

![image](https://user-images.githubusercontent.com/13387/97219683-9d9bd400-17ca-11eb-8d83-bee19e2df7f7.png)

For codeowners, it would take a while to gather though. You can probably ping them (perhaps even here in this issue) and confirm whether they'd want to be included in the maintaine

[2020-10-26 19:50] VictoryWekwa commented on #610
Alright. Thanks. Will ping them then update my PR.

[2020-10-27 10:04] VictoryWekwa commented on #610
Hi @jpkrohling please would you want to be included in the maintainer's file for this repository?

[2020-10-27 10:24] jpkrohling commented on #610
Yes.

[2020-10-27 11:00] objectiser commented on #610
Yes

[2020-10-27 13:48] yurishkuro commented on #610
+1

[2020-10-29 11:39] rx5801 opened #756 "Cannot compile in Java1.6 environment"
## Requirement - what kind of business use case are you trying to solve?
use for POC test instrument Java application

## Problem - what in Jaeger blocks you from solving the requirement?
failed to compile in source code in Java 1.6 env
]# ./gradlew

FAILURE: Build failed with an exception.

* What went wrong:
Gradle 5.4.1 requires Java 8 or later to run. You are currently using Java 6.

* Try:
Ru

[2020-10-29 16:19] yurishkuro commented on #756
The plan was to drop Java 6 support #511.

[2020-10-29 17:05] rx5801 commented on #756
Is Java 7 still supported?
Thanks.

[2020-10-29 17:13] yurishkuro commented on #756
The artifacts are still targeted at 1.6. We don't need to be able to compile with 1.6 in order to support 1.6 at runtime.

https://github.com/jaegertracing/jaeger-client-java/blob/d444df27c8f802a6938a0520f795c84e5dde44f6/build.gradle#L70-L73

[2020-10-29 17:13] #756 closed

[2020-10-30 00:05] rx5801 opened #757 "Gradlew build failed"
## Requirement - what kind of business use case are you trying to solve?
POC test for Java insturmentation

## Problem - what in Jaeger blocks you from solving the requirement?
gradlew build failed

# java -version
openjdk version "1.8.0_262"
OpenJDK Runtime Environment (build 1.8.0_262-b10)
OpenJDK 64-Bit Server VM (build 25.262-b10, mixed mode)

jaeger-client-java]# ./gradlew

1.4.1-SNAPSHOT

We

[2020-10-30 02:52] yurishkuro commented on #757
did you run `git submodule init && git submodule update` ?

[2020-10-30 11:48] rx5801 commented on #757
I have run `git submodule init && git submodule update` . same error posted below.
Another question:  Can jaeger-client-java  auto instrumentation Application? Or have to customize application code to call jaeger liburaris?

                    #git init
[root@ data]# git submodule init
[root@ data]# git clone --recursive --jobs 8 https://github.com/jaegertracing/jaeger-client-java.git
Cloning int

[2020-10-30 14:11] objectiser commented on #757
`/data/jaeger-client-java/jaeger-thrift/../travis/docker-thrift/thrift: line 18: docker: command not found`

It appears you don't have `docker` installed?

[2020-10-30 14:15] rx5801 commented on #757
No docker installed. The environment is Redhat 6 Linux.  Can it compile without docker?
Thanks.

[2020-10-30 14:19] yurishkuro commented on #757
It cannot. Docker is used to generate thrift classes.

[2020-10-30 15:01] rx5801 commented on #757
Ok. I will install docker and compile again.   Does this mean the runtime environment need Docker as well?

Thanks.

[2020-10-30 16:26] rx5801 commented on #757
Sorry for out of the topic, Just a quick question:  Can Jaeger-client-java do auto instrumentation? Or have to do manual instrumentation by changing the application Java code to call  jaeger-client-java library?
Thanks.

[2020-10-30 16:57] yurishkuro commented on #757
No.

Jaeger SDKs do not do instrumentation, auto or otherwise. There are projects in opentracing-contrib that do that (e.g. "special_agent" project).

Alternatively, you may want to look at OpenTelemetry auto-instrumentation for Java, it's the path forward.

[2020-10-30 16:57] #757 closed

[2020-11-10 04:17] xuanvinhln opened #759 "The new function Jaeger-client supports writing Span data directly to Kafka"
Hi Jaeger team,

## Requirement:
**Use case:** In this architecture https://www.jaegertracing.io/img/architecture-v2.png.
When I don't want to use Agent and Collector to save CPU and RAM resources (because I am not using the Sampling function). I think the Jaeger-client should support sending data directly to Kafka.

## Problem
- When the user does not use the Sampling function, the two modules Ag

[2020-11-10 04:49] yurishkuro commented on #759
If someone wants to implement this, here are some tips:
  * it should be a separate module/artifact that users can optionally include
  * the functionality can be implemented as either a full Reporter or as a Sender (used with RemoteReporter). The advantage of the latter is the Reporter can provide queueing & background thread to submit the spans to Kafka.
  * the new component should accept an En

[2020-11-11 11:53] delebedev opened #760 "When can we expect a new releasee?"
Hey, not an issue per-se, just wanted to check when we can have https://github.com/jaegertracing/jaeger-client-java/commit/640fa3523390a2f2782dcfbf7f995f1b5fec758a available in maven?

[2020-11-12 10:43] objectiser commented on #760
New version 1.5.0 has been released: https://search.maven.org/artifact/io.jaegertracing/jaeger-client/1.5.0/jar

[2020-11-12 10:43] #760 closed

[2020-12-01 09:25] yonidavidson commented on #734
Hi, is there any plan to implement this?

[2020-12-03 12:25] xuanyue202 opened #762 "Possible Thread Leak in RemoteReporter"
https://github.com/jaegertracing/jaeger-client-java/blob/62383c22bb164ee5330ddcc54091515986861605/jaeger-core/src/main/java/io/jaegertracing/internal/reporters/RemoteReporter.java#L170

This is a common mistake that a variable in multithread context need the "volatile" keyword to keep consistency. In my case, the code above lead to a dead loop, and my app is filled with these dead thread.

[2020-12-03 12:25] xuanyue202 commented on #762
Shall I submit a quick PR to fix it.

[2020-12-03 19:04] #762 closed

[2020-12-09 07:47] 467441053 opened #764 "operation_strategies doesn't work when operation name is updated"
## Requirement - what kind of business use case are you trying to solve?
I want to use 'collector sampling configuration ' to exclude some api like 'health' etc

[code]

## Problem - what in Jaeger blocks you from solving the requirement?
operation_strategies in Collector Sampling Configuration doesn't work

when debug this problem I found when a span is created, the operationName is request metho

[2020-12-13 19:09] yurishkuro opened #765 "Migrate CI to GitHub Actions"
Similar to https://github.com/jaegertracing/jaeger/issues/2645

* [x] migrate tests steps from .travis.yml to GHA workflows #775
* [ ] migrate release steps from .travis.yml to GHA workflows -- pending #766
* [ ] make sure artifact publishing & release process are working
* [x] update README build badge 6003c01
* [x] change required checks to new GH jobs
* [x] remove .travis.yml #803

@jaegertraci

[2021-01-11 16:58] amisiuryk opened #767 "Failed to flush spans"
Hello, I have upgraded my jaeger-client from version 1.2.0 to 1.4.0. And after that I received the following errors:
[code]
The interesting point that client uses okhttp 4.2.2 but spring-boot overrides it to 3.14.9 as you can notice in stacktrace above.
I have forced okhttp version to 4.2.2 and 4.9.0 neither doesn't help.
The default connectionTime in OkHttpClient is set to 10 seconds. Also, spans

[2021-01-14 10:55] hacking-the-system commented on #680
Same problem here, I was losing spans without knowing what was happening until I found this.

[2021-01-18 14:30] gana2244 commented on #87
Can you please confirm in which version this feature is available? I used the latest 1.5.0 and following this documentation - https://github.com/jaegertracing/jaeger-client-java#via-http-headers but could see it working. Am I missing some configuration somewhere?

[2021-01-28 16:02] diegolucasilva commented on #693
Same problem here.... If the jaeger is down, the application doesn't  boot.

[2021-02-01 21:37] jkwatson commented on #511
Does jaeger even work with java 6 any more? I can't use the thrift library for java 6, as it depends on okhttp which doesn't work with java 6. Is there a known configuration that will work for jaeger, the thrift protocol and java 6?

[2021-02-01 22:20] yurishkuro commented on #511
a, what a walk down the memory lane this ticket is...

According to https://snyk.io/blog/developers-dont-want-to-leave-java-8-as-64-hold-firm-on-their-preferred-release/, 3% of users are on Java 7 or lower.  I think at this point we should be ok to go to 8, and let the holdouts use the older SDK versions (plus, we're not really building much into Java SDK these days, so they won't be missing a lot

[2021-02-03 18:35] aschugunov commented on #325
Hello,
it seems this problem is no longer reproducible

[2021-02-17 18:16] jphelp32 commented on #732
@pschichtel any update on addressing this? thanks

[2021-02-18 10:46] pschichtel commented on #732
Sorry, totally forgot about this. I had a look at it, but the behaviour didn't really make sense to me. I wasn't able to properly debug this in a running instance of our application (some source mapping issues it seemed). We have stopped enabled jaeger by default since then, so haven't really touched this in a white.

[2021-02-24 14:44] doctorpangloss commented on #465
This seems like a pretty useful thing.

[2021-03-01 14:05] mehta-ankit opened #769 "Vulnerability on apache thrift library (versions prior to 0.14)"
## Requirement - what kind of business use case are you trying to solve?

There is an open CVE on thrift library: https://nvd.nist.gov/vuln/detail/CVE-2020-13949

It affects versions below 0.14.x. Version used by jaeger-client is 0.13.0(https://github.com/jaegertracing/jaeger-client-java/blob/master/build.gradle#L22).
`apache-thrift` is a dependency of jaeger-thrift: https://github.com/jaegertraci

[2021-03-02 10:17] narendranss commented on #769
Upgrade of thriftlib results in the following error.

[2021-03-02 10:34] jpkrohling commented on #769
I understand the urge to use a newer Thrift version, but note that this CVE does *not* affect the client libraries.

[2021-03-02 15:58] mehta-ankit commented on #769
@narendranss Yes, this error because of the change Thrift made to one of its method `AutoExpandingBufferWriteTransport` Also mentioned here in the related issue: https://github.com/oracle/helidon/pull/2814

[2021-03-02 16:08] mehta-ankit commented on #769
@jpkrohling Can you explain your reasoning behind - `this CVE does _not_ affect the client libraries` ? I am curious and want to understand.

[2021-03-02 16:45] jpkrohling commented on #769
From the CVE:

This is related to the following issue, which affects only the agent/all-in-one: https://github.com/jaegertracing/jaeger/issues/2638

[2021-03-02 22:55] mehta-ankit commented on #769
Thanks for sharing that issue @jpkrohling. I agree its the agents that can get OOM issues not the client library itself.

[2021-03-09 11:01] pbd-axa opened #770 "Vulnerability scan fails for io.jaegertracing:jaeger-thrift:jar:1.5.0 caused by dependency org.jetbrains.kotlin:kotlin-stdlib:jar:1.4.0"
Requirement
Vulnerability scan fails.

Problem
Our vulnerability check fails because this dependent artifact of io.jaegertracing:jaeger-thrift:jar:1.5.0 is affected:
org.jetbrains.kotlin:kotlin-stdlib:jar:1.4.0 which is a transitive dependency of okhttp. .

The vulnerability is documented here: https://nvd.nist.gov/vuln/detail/CVE-2020-15824

Proposal
Update com.squareup.okhttp3:okhttp to version

[2021-03-12 09:34] Asisranjan opened #771 "Support of https sender - Jaeger client to collector"
Hi

In our project, we have placed envoy load balancer in front of Jaeger collector. With this we have exposed https port for communication.

We need to use directly Jaeger collector from client to send traces over it. Do Jaeger java client support https sender, please confirm.

I see https://github.com/jaegertracing/jaeger-client-java/pull/602 but do not see in latest version (1.5.0). Do you have

[2021-03-15 00:14] gorsr01 opened #772 "1.5.0 incompatibility with libthrift 0.14.1 ( CVE-2020-13949 vulnerability found in libthrift 0.13.0)"
## Requirement - what kind of business use case are you trying to solve?

We found a vulnerability CVE-2020-13949 vulnerability found in libthrift 0.13.0 which comes with jaeger-thrift:1.5.0. We need to solve this vulnerability by upgrading to the latest libthrift 0.14.1. But we have some unsatisfied dependencies with libthrift 0.14.1 and jaeger-thrift 1.5.0.

## Problem - what in Jaeger blocks yo

[2021-03-16 08:10] Asisranjan commented on #771
@jpkrohling & @yurishkuro
Could you please comment.

[2021-03-16 08:34] jpkrohling commented on #771
As long as the keystore used by your JVM contains the certificate/CA, it should just work. That PR is for allowing the client to use its own TLS configuration, from what I remember. If you have reasons to believe this isn't working, please reopen the issue.

[2021-03-16 08:34] #771 closed

[2021-03-19 15:10] yurishkuro commented on #765
@Ashmita152 do yo have cycles to look at this? There's a first unfinished attempt in #766

[2021-03-20 05:39] Ashmita152 commented on #765
Sure Yuri, I will pick them.

[2021-03-21 18:36] #772 closed

[2021-03-24 10:19] jpkrohling commented on #770
Duplicate of #769

[2021-03-24 10:19] #770 closed

[2021-03-24 18:09] houstonheat commented on #565
A Jaeger-collector is now exposing sampling API endpoint, so we can throw spans directly to it and get sampler configuration too (without jaeger-agent) https://github.com/jaegertracing/jaeger/pull/1990

[2021-03-25 15:04] mehta-ankit commented on #769
@yurishkuro Closing this issue because of your PR that merged: https://github.com/jaegertracing/jaeger-client-java/pull/774

[2021-03-25 15:04] #769 closed

[2021-03-30 16:00] ehsavoie opened #778 "RemoteReporter should be able to 'ignore' sender exception as in old behaviour"
## Requirement - what kind of business use case are you trying to solve?

RemoteReporter now logs SenderException with a WARN message, while this wasn't the case before. We need some way to provide the old behaviour by tracing in debug if there are such errors.

## Proposal - what do you suggest to solve the problem or improve the existing situation?
Add a new ignoreSenderErrors configuration para

[2021-03-30 17:30] ehsavoie commented on #778
Because it creates https://issues.redhat.com/browse/WFLY-14625 with the same configuration and i can't do anything about this from the 'outside'.

[2021-03-30 17:31] ehsavoie commented on #778
also the trace only once is 'broken' as the flush command will succeed if no span is to be sent thus those traces comes in a 'loop' if there is no enough activity.

[2021-03-30 17:49] yurishkuro commented on #778
You could suppress the logging from remote reporter if you're not interested in it.

[2021-03-31 08:54] ehsavoie commented on #778
That would mean creating specific logger rules for jaeger client. This is a workaround that we dismissed because it means to embedded specific logging rules in our configuration

[2021-03-31 09:28] cptkng23 commented on #719
@william-tran , @yurishkuro
Is this the issue to subscribe to for delayed sampling? If so, are there any plan to implement it in jaeger-java-client?

[2021-04-02 12:16] Suedo commented on #409
@yurishkuro We have around 10 Spring boot microservices, which communicate with each other via kafka. The logs of each microservice are sent to Kibana, and in case of any errors, we have to sift through Kibana logs.

The good thing is: at the start of any flow, a message-id is generated by one of our microservices, and that is propagated to all the others as part of the message transfer (which hap

[2021-04-02 14:38] yurishkuro commented on #409
if your services are traced, a trace-id would also be generated, probably even before message-id. Why not use that as a message-id?

I don't want to comment on the approach that tries to hack around the existing code, you can do it at your own risk. Given that the creation of new trace id is built-in when starting the first span, I believe SELF-reference is the appropriate way to implement that, c

[2021-04-02 17:16] Suedo commented on #409
Does Java client have self reference ? I don't see it mentioned.

I'm not sure what you meant. Our services are traced via a custom message-id that we generate. We don't use any open tracing library yet. We want to use the message-id that we create ourselves as a trace-id.

this idea that @runlevl4 mentioned is also something we are possibly going to have/need in the future. This is a pretty valid

[2021-04-02 23:17] jabolina commented on #759
Did anyone started working on this? I would like to try.

@yurishkuro Thanks for the comment, I'll look around and try to start. This module should be similar as the `jaeger-zipkin` module?

[2021-04-06 10:48] lathspell commented on #772
This issue was closed more than 2 weeky ago but still I can't find a Release Note mentioning the CVE?

[2021-04-07 04:26] katatonia911 opened #781 "Security vulnerability CVE-2020-13949 in transitive dependencies"
## Requirement - what kind of business use case are you trying to solve?

Sending micro-services traces to Jaeger.

## Problem - what in Jaeger blocks you from solving the requirement?

A security vulnerability [CVE-2020-13949](https://nvd.nist.gov/vuln/detail/CVE-2020-13949) with severity HIGH in libthrift-0.13.0.jar which is a transitive dependency of jaeger-client.

I tried to exclude libthrift

[2021-04-07 12:50] yurishkuro commented on #781
Already done in #774

[2021-04-07 12:50] #781 closed

[2021-04-07 12:51] yurishkuro commented on #781
Duplicate of #772

[2021-04-08 15:36] jithesh124 opened #782 "Jaeger java client sample without SpringBoot application"
## Requirement - what kind of business use case are you trying to solve?

I have been looking for a sample java client application using "io.jaegertracing.Configuration" to embed the tracepoints in my product jar. Kindly let me know some samples.

For example , my product jar is running in one docker container and need to trace those jar using the jaeger agent.

[2021-04-08 16:02] yurishkuro commented on #782
Examples in https://github.com/yurishkuro/opentracing-tutorial do not use SpringBoot